[2022-02-28 10:26] HannesWell commented on #591
Great. Thanks for the instructions. I did a few rudimentary tests with the staged build and it looks fine.

@mickaelistria, @akurtakov, @laeubi should we release the 1.20.1 version then? Could you do that? I won't have time to do that before my vacation till the end of this week and I think we should not wait longer than necessary.

[2022-02-28 10:35] mickaelistria commented on #591
Yes, we should release 1.20.1 now. I believe we'll need to author custom copy scripts for this one, but nothing too difficult.

[2022-03-01 09:24] mickaelistria commented on #384
Can you please look for the "type" of this marker in the Problems view? Is this error coming from the language server or from internal m2e model?

[2022-03-01 16:36] runeflobakk commented on #384
Looks like it is coming from the language server.
<img width="711" alt="javadoc-plugin-warn" src="https://user-images.githubusercontent.com/174823/156205349-a6f9e2c5-ac41-42a2-94da-6eca71b97e73.png">

---

Interestingly, in this particular project I also get warns from Language Servers about "Invalid plugin configuration". It complains about invalid contents of `header` and `excludes` in the confi

[2022-03-01 16:48] mickaelistria commented on #384
@runeflobakk Can you please post a minimal pom.xml that allows to reproduce this issue about "Plugin could not be resolved"?
And yes, please open separate tickets for separate problems.

[2022-03-01 21:33] runeflobakk commented on #384
Minimal reproducing POM:
[code]
Importing this to a new Maven project in Eclipse reproduces the issue.

Note the empty `<configuration></configuration>`. Although obviously not very sensible with an empty configuration element, it is valid, and it illustrates that this seems to be what triggers the warning. Removing the configuration-element makes the warning disappear. (I can also add any valid e

[2022-03-01 22:24] runeflobakk opened #598 "Invalid plugin configuration for aliased elements"
There seems to be an erroneous warning when using an _alias_ for a configuration parameter when configuring a plugin in the POM. The warning is:

followed by the name of the element which is an _alias_ for the actual field in the Mojo implementation. The type of the warning is "Language Servers".

According to the [Maven documentation](https://maven.apache.org/developers/mojo-api-specification.htm

[2022-03-02 08:20] mickaelistria commented on #384
Thanks, I can reproduce the issue with the pom from https://github.com/eclipse-m2e/m2e-core/issues/384#issuecomment-1055882446 . @runeflobakk can you please report it upstream to https://github.com/eclipse/lemminx-maven/issues ?

[2022-03-02 17:55] #590 closed

[2022-03-04 07:07] HannesWell commented on #591
Since there was no other release in the meantime I think the regular `promote-snapshots-to-release` Jenkins job with `releaseVersion` value `1.20.1` should be fine because it can also become the latest release.

@mickaelistria if you don't have the time to perform the release I would be available to do this this evening.

What are the exact steps to do?
1. Run `promote-snapshots-to-release` Jenkin

[2022-03-04 08:15] mickaelistria commented on #591
I can find time if necessary, but I'm glad if you can take care of it ;)

promote-snapshots-to-release does turn latest snapshots for *master* into a release. I don't think it's what you want here.
You may need to create a similar job as promote-snapshots-to-release to copy the content of https://download.eclipse.org/technology/m2e/snapshots/1.20.1/ to m2e/releases/1.20.1 and m2e/releases/latest

[2022-03-04 10:12] HannesWell commented on #591
Sure I'll take care of this :)

From reading the configuration of `promote-snapshots-to-release` I expect it would do exactly that when being launched with `releaseVersion=1.20.1`. The first command is the following and all subsequent commands use the copied repo:
[code]

Alright, I will do steps 1, 2 and 6 first.

[2022-03-04 10:14] mickaelistria commented on #591
Ah OK; good then. I have not much memory of this particular scripts and its latest changes, so I didn't realize it was already capable of promoting branches. Good then.

[2022-03-04 15:40] jonahgraham commented on #591
Once 3 and 6 are done - send a response to Wayne's participation email to update the included version in SimRel 2022-03: https://www.eclipse.org/lists/cross-project-issues-dev/msg19014.html

[2022-03-04 17:53] mickaelistria commented on #598
This is now supposed to be fixed in upcoming snapshots

[2022-03-04 17:53] #598 closed

[2022-03-04 20:30] HannesWell commented on #591
Steps 1 to 6 are all performed. I hope everything worked well (but what I have checked looks good).

I have done that as well.
The only thing I'm unsure about at the moment is if we have to start an IP Due Diligance Process for this release Wayne mentioned in his E-Mail?

@jonahgraham once you have submitted M2E's SimRel contribution update and confirmed that everything works well now, I would con

[2022-03-04 20:43] jonahgraham commented on #591
👍 The simrel change is submitted. Thanks @HannesWell for doing all this work. I think it is also great that someone else has more knowledge of the release process now.

[2022-03-04 20:55] HannesWell commented on #591
Great. Thanks and you are very welcome.
It is always interesting to learn new things and I agree the more people know the process the better. :)

[2022-03-04 20:55] #591 closed

[2022-03-06 13:32] rakus opened #603 "NPE in org.eclipse.m2e.core.internal.embedder.EclipseLogger.warn(String, Throwable) when Throwable null"
Eclipse 2021-12 / org.eclipse.m2e.core_1.18.3.20211018-0804.jar
EclipseLogger throws a NPE when one of the `(String, Throwable)` methods is called and the Throwable is null.
This should be more forgiving and forward to  the corresponding `(String)` method in that case.
Current code:
[code]

[2022-03-07 06:05] laeubi commented on #603
DO you like to propose a patch?

[2022-03-07 07:53] rakus commented on #603
This will take a while. First have to read the ECA and clarify whether I

[2022-03-07 07:53] #603 closed

[2022-03-07 08:33] howlger commented on #136
For me it is working in Eclipse 2021-12 (4.22) with m2e 1.19.0 (see [release notes](https://github.com/eclipse-m2e/m2e-core/blob/master/RELEASE_NOTES.md#one-way-synchronization-for-jpms-directives-from-maven-compiler-arguments-to-classpath-file)).

**Example:**

Java code:
[code]

`pom.xml`:
[code]

[2022-03-07 08:58] howlger commented on #129
For me it is working when `<arg>--add-exports=java.desktop/com.sun.java.swing.plaf.motif=ALL-UNNAMED</arg>` is correctly specified as `<arg>--add-exports</arg>` and `<arg>java.desktop/com.sun.java.swing.plaf.motif=ALL-UNNAMED</arg>` .

See also [here](https://github.com/eclipse-m2e/m2e-core/issues/136#issuecomment-1060327287).

[2022-03-07 20:38] mickaelistria opened #605 "Migrate m2e-tycho to m2e"
Now that we have m2e containing some PDE integration, and that a CQ was approved for m2e-tycho ( https://dev.eclipse.org/ipzilla/show_bug.cgi?id=23882 ), it would probably make sense to migrate m2e-tycho directly into m2e.

[2022-03-08 05:45] laeubi commented on #605
If I understand correctly the plugin actually does not adds much, it has a `<lifecycleMappingMetadata>` (what might probably better be part of tycho itself?) and it adds the PDE nature to imported projects.

It also do something with the classpath/launching but I'm not sure if this is actually necessary.... Do I miss something?

[2022-03-08 08:48] mickaelistria commented on #605
@laeubi  I have thought the plugin had some connectors but I didn't investigate so I trust you there. If the plugin has no real payload and things can better be done in Tycho directly, then I'm all for it.

[2022-03-08 08:51] laeubi commented on #605
I'm using tycho mostly with pomless so I can't really judge if/how much value the plugin adds for "pom-based" tycho projects.
I think the most important one is about the executions not creating warnings/errors and the rest _might_ already be obsolete. Also from our past discussions I remember you said it should "just work" if we support extensions (even it seems there are explicit code to disable

[2022-03-08 09:02] mickaelistria commented on #605
I probably said that, but it doesn't mean I verified it ;) It sounds more like a hopeful statement or a goal than an assertion about the current state.

[2022-03-08 10:26] mickaelistria commented on #384
This should now be resolved if you use latest m2e snapshots (which include latest lemminx-maven snapshots).

[2022-03-08 10:26] #384 closed

[2022-03-11 10:19] mickaelistria commented on #509
Fixed with #510

[2022-03-11 10:19] #509 closed

[2022-03-11 18:45] HannesWell commented on #509
🎉 Thank you Mickael!

[2022-03-12 10:09] HannesWell opened #607 "POM-Editor not closed when pom-file is deleted"
When one has opened a pom.xml in a the POM-Editor and deletes that pom.xml file (for example when noticing that the pom.xml is not necessary for a Plug-in Project due to Tycho-build), the POM-Editor is not closed automatically.

For other files this usually happens automatically and I assumed it would be handled deep in the Eclipse-Platform (likely in the vicinity of the `org.eclipse.core.resource

[2022-03-14 09:56] mickaelistria commented on #607
I think it's automatically handled by the Platform when the editor input is a FileEditorInput, but maybe it's not the case here?
Or maybe Platform does call what's necessary for the editor to be disposed, but something fails in the editor itself?

[2022-03-14 13:34] takeseem opened #608 "m2e link dependency is bad ver 1.20.1 in eclipse 4.22, it's good ver 1.18.2 in eclipse 4.21"
m2e	1.18.2.20211011-2139 in eclipse 4.21.0 is good.
but m2e 1.20.1.20220227-1319 in eclipse 4.22.0 is bad.
![image](https://user-images.githubusercontent.com/4768523/158182908-6b8bbc6a-146c-4ad8-ae8d-95d71e7e7317.png)

[2022-03-14 13:36] mickaelistria commented on #608
Can you please try latest m2e snapshots from https://download.eclipse.org/technology/m2e/snapshots/latest/ ?

[2022-03-14 16:08] takeseem commented on #608
thanks for your help. (my eclipse 4.21 install spring STS3 plugin it's ok)

may be need a wtp xml editor will work ok.

so I download eclipse EE 4.22, i found the work method:
1. windows -> Preferences -> File Associations: set *.xml and pom.xml defult editor is XML Editor
2. reopen use XML Editor, it's work for me.
![image](https://user-images.githubusercontent.com/4768523/158212323-5362c0d5-b20a

[2022-03-15 21:58] takeseem commented on #608
m2e pom.xml editor in eclipse 4.22 difference 4.21

1. it's good for me.  (M2E - POM Editor (Legacy) using WebTools SourceEditing UI)
2. it have some bug when link to dependcies other pom.xml. (M2E - POM Editor using LemMinX language server (includes Incubating components))

![image](https://user-images.githubusercontent.com/4768523/158479381-412ddbf3-6083-4d7a-a072-702db4572fde.png)

[2022-03-16 08:25] PAX523 opened #611 "Incremental selection not working in POM XML editor"
Copied from: https://bugs.eclipse.org/bugs/show_bug.cgi?id=578196

Since Eclipse 2021-12 release (with the new POM editor), the incremental/decremental selection shortcut (Alt+Shift+Up/Down) isn't functional anymore.

This works in Java editor and in former releases even in XML editors (especially Maven POM editor).

[2022-03-16 12:56] mickaelistria commented on #611
I believe this would require improvement in https://github.com/eclipse/lsp4e/ to implement that leveraging document symbols but the grain may be too coarse, or even in the LSP spec https://github.com/Microsoft/language-server-protocol/ to enable such an operation.

[2022-03-16 17:40] mickaelistria commented on #607
I could write a test case that verifies this issue: https://github.com/eclipse-m2e/m2e-core/pull/612

[2022-03-16 18:52] nicymike commented on #522
I also have this issue. Maybe it is related to #575.

It is stuck on Object.wait().

![image](https://user-images.githubusercontent.com/19415000/158665513-9a93f6fa-976c-4c3a-a6fe-a8016bf89891.png)

[2022-03-16 19:39] kwin opened #613 "Add sorting option for pom.xml"
According to https://maven.apache.org/developers/conventions/code.html#pom-code-convention there is a specific recommended element order in a pom.xml. It would be nice if m2e would expose an option to bring an existing pom.xml to that order (similar to what https://github.com/Ekryd/sortpom does).
Not sure whether this should be part of LemMinX-Maven or directly implemented in the Eclipse plugin.

[2022-03-16 21:45] HannesWell commented on #607
Thank you Mickael for the remarks and the tests. If you don't have the time to look into this, I can take care of this later.

[2022-03-16 23:41] mickaelistria commented on #613
This should probably be provided by lemmix-maven as a code-action or format command customization

[2022-03-17 08:45] Hanmac opened #616 "Plugin needs aar Support"
Currently i have the problem that my Project needs an AAR dependency

when i use this:
[code]

Eclipse does know that it needs to load the aar file from there: https://repo1.maven.org/maven2/io/sentry/sentry-android-core/5.6.3/

But Eclipse doesn't understand that it needs to look into the AAR file and extract the classes.jar to find the classes there.

If i manually extract the `classes.jar` from

[2022-03-17 08:59] mickaelistria commented on #616
How does Maven itself handle aar? I guess it uses a specific Maven plugins that does translate the aar into valid classpath entry for compilation?

[2022-03-17 09:13] Hanmac commented on #616
For Maven itself there is https://github.com/simpligility/android-maven-plugin which says:
https://github.com/simpligility/android-maven-plugin/blob/master/src/site/asciidoc/aar.adoc

[2022-03-17 11:11] fy-gualtiero-testa opened #617 "Introduce support for maven wrapper"
It would be useful to have m2e detect the presence of the maven wrapper installation in the project and use that version to build the project.
It could be an option in the lanch configuration editor like "Use maven wrapper if available"

The main benefit is to have Eclipse builds consistent with the builds launched from the command line.

[2022-03-17 16:41] mickaelistria commented on #616
I think it's one occurrence of #118

[2022-03-20 01:14] takeseem commented on #608
That's too bad, the current m2e version is too slow.

Best in parallel for a long time 's good.

[2022-03-20 01:14] #608 closed

[2022-03-20 08:27] mickaelistria commented on #608
Please report issue dedicated to built time and consider contributing a fix.

[2022-03-21 19:08] guillaumecle commented on #578
with the move of `m2e-apt` to `m2e-core`, will the publish location change? `https://download.jboss.org/jbosstools/updates/m2e-extensions/m2e-apt/` and `org.eclipse.m2e.sse.ui.feature.feature.group`

Also would it be possible to have a release of `m2e-apt` for this fix jbosstools/m2e-apt#79

[2022-03-22 13:09] #607 closed

[2022-03-22 16:40] LorenzoBettini commented on #498
Especially the "Displayed tab width" (e.g., 4) influences the number of inserted spaces, I seem to understand. I want 2 spaces for XML editors. If I set it to 2, then also the tabs in Java editor are displayed with 2 spaces. Most of all, if I change this setting, this will influence also Java editors to insert spaces instead of tabs, which I don't want... am I missing something?

[2022-03-22 19:34] HannesWell commented on #607
Thanks Mickael.

[2022-03-23 12:38] rotty3000 opened #620 "m2e not resolving project dependency jars"
It seems that in m2e when a plugin with a lifecycleMappingMetadata is executed, intended for the package phase, the dependency resolver does not resolve project dependencies as built jars, but rather as their outputdirectory.

However, everything works from the maven command line as expected, including when I build the project separated from the reactor build (say using the -pl flag). In that case

[2022-03-23 13:08] apupier opened #621 "M2e lemminx editor is not working when install path contains sspace"
- Install Eclipse in a path containing a space
- Create a maven project
- Open pom.xml

[code]

eclipse.buildId=4.23.0.I20220308-0310
BootLoader constants: OS=linux, ARCH=x86_64, WS=gtk, NL=en_US

[2022-03-25 10:34] laeubi opened #622 "Problem with resources plugin"
I see a lot of the following in the error-log:

[code]

It seems m2e is passing somehow invalid path down to the mojo.

[2022-03-28 08:20] laeubi opened #623 "Suggest dependecies on missing classes"
Lets say I have created a new module in my workspace with a simple archetype and thus no dependencies declared.

- Now i create a class and let it implement interface X.
- Eclipse complains that it can't find and only offers me with creating the interface
- Now I use STRG+SHIFT+T and search for the interface, eclipse shows me some references probably from the parent project or from other maven pro

[2022-03-28 08:49] mickaelistria commented on #623
That's a good idea. Since this is more about Java editor than pom.xml, it's not something we can have in lemminx-maven, but instead something that would fit in org.eclipse.m2e.jdt bundle.

[2022-03-28 13:44] mickaelistria commented on #621
This should now be fixed with #621. Please try a newer snapshot including that fix and reopen if issue still exists.

[2022-03-28 13:44] #621 closed

[2022-03-28 15:53] laeubi opened #625 "Support "bom" type for maven-target locations"
Currently one could add a pom type already but this will not work for "bom" poms where only managed dependencies are declared.

[2022-04-01 08:02] HannesWell commented on #621
Can you please try the current snapshot again? There was a subsequent adjustment that affects this issue.

[2022-04-03 07:13] laeubi commented on #123
From my experience with that it still happens with the latest m2e, but I seem to get it working almost always with the following steps:

1. Update tycho-core
2. then run an update that updates everything else

I don't know how the update-cycle behaves currently, but maybe it is using some kind of Map/Set with unstable sorting that causes issues here?
Maybe a solution would be to fetch the set of p

[2022-04-03 07:16] laeubi commented on #123
By the way it seems the progess view was enhanced with more details and I now see a constant loop saying

1. Building
2. Building (Canceled)
3. Building (Sleeping)
4. Building and so on

I also see a Job that says "Refreshing Workspace)

[2022-04-04 17:11] fbaligand commented on #429
I reproduce the issue.
This is clearly a annoying problem for me!

[2022-04-06 23:37] httpants commented on #205
I've recently installed eclipse 2022-03 and encountered this issue.  I checked which version of lsp4e is included with 2022-03 and it's the latest version from http://download.eclipse.org/lsp4e/releases/latest/

[2022-04-12 01:31] jdneo opened #633 "Failed to import Maven project when the artifact name is a property"
##### Steps To Reproduce
1. Use the project Spring petclinic: https://github.com/spring-projects/spring-petclinic
2. Update the pom file to let the artifact id reference to a property
![image](https://user-images.githubusercontent.com/6193897/161364292-14c09b74-896f-479f-82b9-158188760981.png)
3. Import as a Maven project, then import failed.

##### Logs

[code]
##### Additional Informations

Same

[2022-04-12 06:53] MKuettner commented on #123
I have the same issue (since last update to Eclipse 2022-03). For me this is a real blocker and currently makes the whole IDE unusable.
Only workaround is to close nearly all projects or to disable "Build Automatically".

[2022-04-12 11:53] #633 closed

[2022-04-12 11:54] mickaelistria commented on #633
A fix should be available in snapshot repository shortly.

[2022-04-12 17:07] mpet opened #635 "No files are generated with using APT with 2.0.0.20220412-1153"
Hi,
I have a maven multi-module project with an "annotation processor" module and a "processor-user" module.

I have installed the m2e with the APT included:
  M2E  2.0.0.20220412-1153

I have setup the APT processing for the processor-user module. The pom.xml has a dependency to the "annotation processor"
and

[code]

From within Eclipse I use menu Project --> Clean
it has the checkbox "start a b

[2022-04-12 17:33] mickaelistria commented on #635
Can you please try installing the 2.0.0 snapshots as described in reader? Those are supposed to include apt support without need for external plugins, and that may help your case.

[2022-04-12 17:49] mpet commented on #635
I tried:
m2e-snapshots - https://download.eclipse.org/technology/m2e/snapshots/latest/
//mike

+++++++++++++

[2022-04-12 19:50] mpet commented on #635
@mickaelistria I don't know. I have not tried for this project. Not sure what you mean with regression...

//mike

[2022-04-13 01:56] jdneo commented on #633
Thank you @mickaelistria for such quick response!

[2022-04-13 05:14] olivergg commented on #123
@MKuettner which version of m2 do you use ? Have you tried with 1.20.1.20220227-1319 ?

[2022-04-13 06:26] mpet commented on #635
I tried to downgrade using:

1. https://download.eclipse.org/technology/m2e/releases/latest/

M2E - Maven Integration for Eclipse (includes Incubating components)	1.20.1.20220227-1319	org.eclipse.m2e.feature.feature.group	Eclipse.org - m2e

2. https://jbosstools.github.io/m2e-apt/latest/ ( Not working)

Tried this: the m2e discovery catalog : Window > Preferences > Maven > Discovery > Open Catalog

[2022-04-13 09:33] zachpn commented on #123
@MKuettner: I had the same issue. Uninstalling "M2E PDE Integration" resolved the update/build workspace loop.
I am using the same M2E version as olivergg posted.

[2022-04-13 09:54] mickaelistria commented on #635
OK, so apt is not working at all for your case. Can you please build a very minimal project that allows to reproduce the issue and share it so we can more easily give it a try and even create an automated test from it?

[2022-04-13 10:01] MKuettner commented on #123
I use following versions:
M2E - Maven Integration for Eclipse (includes Incubating components): 1.20.1.20220227-1319
M2E - PDE Integration: 1.20.0.20220208-0831

[2022-04-13 12:19] mpet commented on #635
@mickaelistria  I will try to create a  minimal project.

[2022-04-13 20:12] kjsmita6 commented on #123
I am occasionally having this issue using m2e 1.20.1.20220227-1319 on Eclipse 4.23 but the problem seems to be much better (i.e. doesn't block the entire IDE). When it happens, my progress view still shows alternating jobs between "Building" and "Downloading Sources/Javadoc". But like I said, it is not a huge problem as it was before.

https://user-images.githubusercontent.com/9405706/163262012-42

[2022-04-14 08:43] mpet commented on #635
@mickaelistria I have created a minmal project ( but it still has some company related naming in it ). Could I send it to you somehow without going  public ( it is ok to share in a minimal group)?

I am using Eclipse 4.22.
1. From within Eclipse. Select 2 maven modules "annotations generator" and "processor-user". From Eclipse menu "Project" --> "Clean ..."
Then there are no files generated in /pr

[2022-04-14 10:24] mickaelistria commented on #635
Sorry, I personally won't consider testing or supporting stuff that cannot be shared publicly. Please try to reduce the example to not have such restricted content.
If reducing the example seems too hard, I'd recommend you get in touch with developers (eg @laeubi ) who can provide commercial support for your needs and who would be able to build some public example and patch for it.

[2022-04-14 10:46] mpet commented on #635
ok. I will try to make the example more simple.

[2022-04-14 11:35] mpet commented on #635
@mickaelistria  our company is a contributor to Eclipse foundation. That does not change the the above?

[2022-04-14 11:46] mickaelistria commented on #635
The project is an OSS project under EPL license. It's much easier and more natural to work with open-source examples.

[2022-04-14 12:17] mpet commented on #635
Hi @mickaelistria

I found a much easier way for all of us :-)

https://www.baeldung.com/java-annotation-processing-builder

git clone https://github.com/eugenp/tutorials.git

Import into Eclipse using

![image](https://user-images.githubusercontent.com/1445826/163386422-5e322038-bddf-4aea-b233-afc1db70d24d.png)

select the 3 modules for annotations.

Then when import is done.

1. Select maven mod

[2022-04-14 12:33] mpet commented on #635
@mickaelistria  is it sufficient?

[2022-04-14 14:16] mickaelistria commented on #635
@mpet seems like an easily accessible and simple example.

[2022-04-14 19:46] mickaelistria commented on #635
Hsve you tried tweaking options in right-click on project > Properties > Maven > Annotation Processing ?

[2022-04-15 06:50] mpet commented on #635
@mickaelistria what do you suggest to tweak?

[2022-04-15 09:06] mickaelistria commented on #635
I migrated documentation from jbosstools-apt to https://github.com/eclipse-m2e/m2e-core/blob/master/org.eclipse.m2e.apt.ui/README.md . Does this help?

[2022-04-16 05:47] laeubi opened #644 "Convert Maven Activator components to Declarative Services"
Declarative Services are more flexible and easier to understand and maintain. Currently the m2e activator do a lot of wiring stuff that better could be performed with DS.

The other advantage is, that we do not need to use static access but can simply use service bindings.

Due to current restrictions of

- https://github.com/eclipse-platform/eclipse.platform.resources/issues/52
- https://github.c

[2022-04-16 13:37] arutsch commented on #173
Hello,
I see that the last comment was posted months ago. I wanted to say that I have the same problem in VS Code.
It would be nice if someone has a solution for this.

Thanks.

[2022-04-16 15:17] arjantijms commented on #173
@arutsch maybe we can get someone from Microsoft involved here?

[2022-04-16 16:58] arutsch commented on #173
I have a clue now:
Note: I have the same module-info.java problem, but with Javafx in VS Code.
![2022-04-16 (3)](https://user-images.githubusercontent.com/80642943/163684047-f985ed54-56fc-4790-be4e-640d65b7360e.png)

If you don't select "javafx-controls-14.0.2.1-win.jar" and "javafx-graphics-14.0.2.1-win.jar", the error is gone. But without these the jar file won't work too.

[2022-04-17 06:39] mpet commented on #635
@mickaelistria  I tried both options in pom.xml and nothing happened.

I added 'j**dt_apt**' as well as '**maven_plugin**' as values into annotation-user module and did a "Clean..." from within Eclipse.
Still nothing happens. So it seems this functionality is broken. Does it work for you @mickaelistria ?

br,

//mike

Below pom.xml is from annotation-user module using value 'maven_plugin' but it d

[2022-04-17 21:32] mickaelistria commented on #173
Anyone is welcome to contribute, this is an open-source project and vendor independency and meritocracy are guaranteed by conforming to the Eclipse Development Project.

In the meantime, @arutsch can you please give a try to importing this project in Eclipse IDE using latest m2e snapshots? I don't know if VSCode is using a recent enough version of Java. Maybe it's better if you report this issue t

[2022-04-18 05:49] arutsch commented on #173
@mickaelistria You're right. I found the Problem in "C:\Users\User\.m2\repository\org\openjfx". Each of these jar files have their own module-info.class file: javafx-graphics-14.0.2.1-win.jar, javafx-base-14.0.2.1-win.jar and javafx-controls-14.0.2.1-win.jar, but these are only the files I use to create a .jar file so javafx-fxml-14.0.2.1-win.jar has also his own module-info.class file. The Proble

[2022-04-18 11:43] arutsch commented on #173
@mickaelistria You're again right. With Eclipse it works much better because you have the option to just paste the java Runtime packages into the jar program. But I have a problem again:
"Exception in thread "main" java.lang.UnsupportedClassVersionError: com/example/Rock has been compiled by a more recent version of the Java Runtime (class file version 55.0), this version of the Java Runtime only

[2022-04-19 07:53] mpet commented on #635
@mickaelistria  any progress?

I tried to debug of the plug-in.

I cloned this repo but I get errors in Eclipse 4.22

![image](https://user-images.githubusercontent.com/1445826/163952459-7039690b-9827-4237-bb04-55f2087b7f3d.png)

Do I need to do anything specific?

I aslo tried:

[code]
This is the error I got:
[code]

[2022-04-19 07:56] mickaelistria commented on #635
Sorry, I'm not personally skilled enough in APT and m2e-apt stuff in general to be more helpful for user support. Maybe @fbricon can tell more about what can cause your issue.

About working on m2e, see documentation at https://github.com/eclipse-m2e/m2e-core/blob/master/CONTRIBUTING.md . Don't hesitate to ask further (ideally in GitHub discussions) if you're stuck setting up your development envi

[2022-04-19 14:45] arutsch commented on #173
My Problem is finally SOLVED:)

[2022-04-19 15:09] mickaelistria commented on #173
@arutsch Great! Can you please summarize the steps that allowed you to resolve it?

[2022-04-19 15:09] #173 closed

[2022-04-19 15:18] arjantijms commented on #173
@mickaelistria You closed the issue, but I tried it in Eclipse, and it's not solved yet, is it?

[2022-04-20 09:51] mpet commented on #635
I manged to run:
[INFO]
[INFO] --- maven-antrun-plugin:3.0.0:run (generate-classpath-file) @ org.eclipse.m2e.maven.runtime.slf4j.simple ---
[INFO] Executing tasks
[INFO] Executed tasks
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] M2E - Maven runtime bundles 1.16.0-SNAPSHOT ........ SUCCESS [  3.703 s]
[INFO] M2E Maven Archety

[2022-04-20 12:48] mwarren2 commented on #250
Just a bump message...
Any chance this can be looked at any time soon?

It took me quite a while to find this issue, and the workaround has worked so far, so thanks. But I wish for other people that it could be dealt with, it's all a bit messy isn't it?
However I certainly appreciate that you've got a lot on your hands, so thanks anyway for all your work.

[2022-04-21 11:59] HannesWell commented on #250
Unfortunately it looks like no one of the active committers (including myself) is working on this.

From the linked issue I'm not sure if this is really an m2e issue, but I'm not familiar with that specific topic.
If you are sure this is a general issue that has to be fixed in m2e we would welcome a quality PR to fix it very much and help you in that regard.
If this is actually an up-stream issue

[2022-04-22 14:27] JRaue commented on #429
+1 This is a highly annoying regression, hopefully easy to fix?

[2022-04-22 15:32] claudioweiler commented on #250
Right, the issue is on aether connector. Unfortunately, there is no active maintainers.

On m2e there is only 2 approaches that I can see:
- stop using aether connector;
- force workaround without need of users action.

[2022-04-22 15:50] laeubi commented on #250
Can you reference the issue there?

You probably could propose a patch then?

[2022-04-22 17:40] claudioweiler commented on #250
Sure. It's already on first post above.

Despite I know what caused the problem (specific commit), I'm not aware of the real problem. So it's not a simple rollback case, it will be needed to understand how aether works and how credentials are passed on new multithreading management added on referred commit.
Even if I understand all this and submit a PR, there is a chance that no one approve and me

[2022-04-22 17:47] laeubi commented on #250
Upps, didn't see that :-)

If yo don'T try we never know :-) if this is important enough for people (I have never used that) we can try to adopt it at m2e (but need someone who likes to take care) or fork the project.

So most interesting at the momment would be:

1. Is this directly used in m2e or is this a maven plugin extension (the repo does not contain a readme)
2. is anyone willing to step u

[2022-04-22 18:23] claudioweiler commented on #250
Um... Maybe someone on m2e-core could answer better, but it is directly used by m2e our indirectly used through eclipse, for sure it's not used by maven (if you run maven on console, or do not use embedded one in eclipse, it works).

[2022-04-22 18:29] claudioweiler commented on #250
Updated m2e options with one more: downgrade aether connector

[2022-04-23 11:40] HannesWell commented on #420
We still have to disable the m2e-user mailing-list.

How can the Mailing-List be disabled? If this only requires an EF-Helpdesk request and a final E-Mail I can do that.
Is there a template/best-practice for the announcement E-Mail?

[2022-04-24 05:52] laeubi commented on #123
With the latest version I see the following being stuck and running over and over again with different projects but never making any progress:
![grafik](https://user-images.githubusercontent.com/1331477/164958610-9937db44-2c3e-4f1d-bc32-6c57c8c1b07f.png)

Maybe this gives a hint about what is being the root cause: https://github.com/eclipse-m2e/m2e-core/discussions/619#discussioncomment-2621807

[2022-04-25 06:26] vogella commented on #420
Is the mailing list not necessary for committer election?

[2022-04-25 06:56] HannesWell commented on #420
Committer elections are done at the m2e-dev mailing list (which is the reason that list has to stay), the m2e-user list is/was only used for users questions.

[2022-04-25 07:51] guw commented on #123
So this looks like some kind of event flooding. Is the builder triggering async resource changes, which are propagated outside of the builder?

[2022-04-28 07:42] sfussenegger opened #659 "Maven dependency classes opened by debugger from sources jar"
See this screenshot:

![opened](https://user-images.githubusercontent.com/117516/165701529-6f878568-59df-4e60-bbaa-9141c1566534.png)

The first tab (with the "J" icon) is opened by debugger. Hovering over it shows the path as a tooltip and it's "~/.m2/repository/.../...-sources.jar/../....java".

The editor opened by "Open Type" (with the "010" icon) has the qualified class name as tooltip.

So fo

[2022-04-29 09:29] jonenst opened #661 "Bug 406486 - m2e doesn't respect Surefire classpathDependencyExcludes"
"a TL;DR is that if the issue is still relevant to you, you need to open it on GitHub."
Hi this issue is relevant to me, thanks

https://bugs.eclipse.org/bugs/show_bug.cgi?id=406486

[2022-05-02 12:18] mickaelistria commented on #659
Can you please provide some minimal steps to reproduce the issue with latest Eclipse SDK and m2e snapshots?

[2022-05-02 20:17] mickaelistria commented on #420
Before closing the m2e-users mailing-list, someone needs to announce that GitHub discussions are now preferred. I'm personally not subscribed to this ML, so I won't be able to do it.
Once the annouce is on, we can open a ticket to Eclipse Foundation helpdesk to ask the mailing-list ot be made read-only.

[2022-05-02 21:51] HannesWell commented on #420
Done: https://www.eclipse.org/lists/m2e-users/msg05899.html

[2022-05-03 05:22] laeubi commented on #123
I'm now having a workspace where the problem occurs and I can debug it from what I see the problem is that there is one parent project that has errors, thus it don't make it into the ProjectRegistry and then if another project tries to fetch that project is is noticed that it is out of date and needs updates, then it is noticed that the project itself has changed and needs an update and so on....

[2022-05-03 05:50] laeubi commented on #123
In refreshPhase2 there is:

[code]

this adds "dependents" pom files to the context, which leads to that the queue never gets empty here... (from what I can see).

[2022-05-03 06:10] laeubi commented on #123
I have a fix for this, just need to think if we maybe can do better than my first simple approach ...

[2022-05-03 11:53] mickaelistria commented on #635
I see on some other threads you've made progress with apt stuff. Is this issue resolved or is it still relevant?

[2022-05-03 13:55] kwin commented on #590
@mickaelistria Can you add this to milestone 2.0.0?

[2022-05-03 14:36] #123 closed

[2022-05-03 17:21] mickaelistria commented on #522
The issue seems to come from APT support more than m2e core itself. Pease try upgrading to latest snapshots for Eclipse and m2e, using the APT support that's now part of the m2e and not in JBoss Tools.

[2022-05-04 08:53] GaZaTu opened #666 "maven.multiModuleProjectDirectory in <repositories> not resolved"
yo,

i have a root pom.xml with an entry like this:
[code]
to provide all child maven modules with access to that in-project maven repo.

This works with IntelliJ and mvn-cli and used to work with Eclipse 2021-09 and redhat.java v1.1.0 but since updating to 2022-03 it results in an exception like this:
[code]
*obscured GROUP_ID and ARTIFACT_ID*

OS: openSUSE 15.1
IDE: both Eclipse 2022-03 and VSCo

[2022-05-04 12:58] mickaelistria commented on #666
Do I get it right the issue seems to be that `${maven.multiModuleProjectDirectory}` is not expanded to its actual value?

[2022-05-04 13:27] GaZaTu commented on #666
I don't think it's expanded at all looking at this message in the exception:
`...Repository path /${maven.multiModuleProjectDirectory}/.local-maven-repo does not exist, and cannot be created.`

[2022-05-05 08:33] Postremus commented on #522
We have finally switched from svn to git.
Problem does not happen anymore.
Closing this issue, since this is solved for me.

[2022-05-05 08:33] #522 closed

[2022-05-09 08:27] mickaelistria opened #682 "[EPIC] allow m2e to process projects that don't have a nature"
The most important parts of m2e are:

- Classpath/Dependency resolution injected into JDT
- Builder that allows to run some mojos as part of Eclipse build
- pom.xml edition

Ideally, those shouldn't require a nature. We should audit that those can work without a nature and try to fix them if necessary; and only rely on the classpath/builders/editor.

The only foreseen issue is for detection of m2e

[2022-05-09 09:49] laeubi commented on #682
I think the problem is that a builder is needed to effectively participate in workspace builds.

[2022-05-09 10:07] mickaelistria commented on #682
I believe the builder doesn't mandate a particular nature.

[2022-05-09 10:25] laeubi commented on #682
I recently tried in another project and found no other reliable way, but yes maybe there are other natures one could attach to. The question remains, if really the pure presence of a pom.xml should trigger certain non trivial actions.

[2022-05-12 08:49] laeubi commented on #123
I can confirm, after getting the stuck again with an older m2e release, that with the new code now it is correctly detected and the cycle is left after one initial improvement of the build cycle.

[2022-05-13 08:25] HannesWell commented on #123
That's great news and a good reason to go for M2E 2.0 :)
Thanks for your work.

[2022-05-16 08:05] mickaelistria commented on #666
Do I get it right that this cause your project to be build-able only if starting it from its root; so it's basically not a modular build?

[2022-05-16 08:15] laeubi commented on #666
@mickaelistria see https://maven.apache.org/docs/3.3.1/release-notes.html#jvm-and-command-line-options the `maven.multiModuleProjectDirectory` is the first parent directory starting from the current executed module that has a `.mvn` folder so it could even be used if not executed from the root.

[2022-05-16 08:19] GaZaTu commented on #666
I'll provide a smol example project in a bit 😋 but to answer the question: the errors are visible when opening the root project and it is indeed a modular project.

[2022-05-16 08:23] mickaelistria commented on #666
OK, thanks for clarifying. I see this variable is set by the MavenCli / CliRequest , that m2e doesn't use at all. So we'll need to replicate it.

[2022-05-16 08:26] laeubi commented on #666
yes, but setting this will first require to have project specific `IMaven` instances (or more formally, one instance per multiModuleProjectDirectory) to work properly, or we need to calculate this when creating an execution request for a project.

[2022-05-16 08:42] mickaelistria commented on #666
I don't think we need project-specific Maven instance, but we need to improve how we build the MavenExecutionRequest to set this location when it's relevant.

[2022-05-16 08:50] laeubi commented on #666
Possibly yes, when doing so it would be good to support maven.config and jvm.config as well see
- https://github.com/eclipse-m2e/m2e-core/issues/274

[2022-05-16 08:55] mickaelistria commented on #666
I can try to work on this one if it's OK with you.

Later, in another issue ;)

[2022-05-16 08:59] laeubi commented on #666
Sure go a head, I just wanted to note that these two are very close related, once we have the `multiModuleProjectDirectory` populated it seems logical to also read the `maven.config` as this is the most relevant (beside extensions).

[2022-05-16 09:48] laeubi opened #698 "Remove org.eclipse.m2e.core.internal.embedder.MavenExecutionContext.suspend()/resume()"
I don't know for what this would be useful and it seems only be used in test. Also the javadoc is a bit unclear to me how it archives the "suspend", from the usage in the test-code it seems one probably would more call getThreadContext() and check if it is null to see if the queue needs to do more work?

@mickaelistria @HannesWell what do you think?

[2022-05-16 09:55] laeubi opened #699 "Support profiling of maven runs"
One could enable for example profiling with https://github.com/jcgay/maven-profiler but of course then one has to investigate the results manually.

I think it would be good to have (beside `Run As ...` and `Debug As ...`) to integrate with the eclipse profiler support (that is `Profile As ...`) and setup what is required (or probably require the user to setup things) and then read the generated j

[2022-05-16 09:56] mickaelistria commented on #698
No objection to remove internal code as long as it doesn't cause regressions.

[2022-05-16 10:34] victornoel opened #700 "Consider injecting maven-surefire/failsafe-plugin argLine into Eclipse JUnit Runner"
I noticed that the `argLine` I specify in the maven-surefire-plugin configuraton are not taken into account by the JUnit Runner.

I'm thinking it would be relevant for m2e to inject those into Eclipse's.

This is a subject that was raised in the past here: https://stackoverflow.com/questions/12392926/maven-surefire-arguments-when-running-junit-test-via-eclipse

And today I'm facing it becuase with

[2022-05-16 12:13] laeubi opened #701 "remove org.eclipse.m2e.core.embedder.IMaven.lookupComponent(Class<T>)"
there is actually already a method `org.eclipse.m2e.core.embedder.IMaven.lookup(Class<T>)` and the `lookupComponent` is only used internally.

[2022-05-16 12:56] laeubi opened #702 "Remove org.eclipse.m2e.core.internal.MavenPluginActivator.getWagonManager()"
It seems this is not used anywhere and also is just a convince method.

[2022-05-16 14:22] #698 closed

[2022-05-16 14:23] #702 closed

[2022-05-16 14:23] #701 closed

[2022-05-16 14:26] mickaelistria commented on #635
No news since last question, so let's assume it's fixed. Thanks.

[2022-05-16 14:26] #635 closed, assigned to nobody

[2022-05-16 14:27] laeubi commented on #546
I think what was provided by mickael here is already the API work, the rest is internal and could be solved with more specific tickets.

[2022-05-16 14:27] #546 closed

[2022-05-16 15:09] laeubi commented on #120
I think this is now mostly fixed thank @HannesWell and @merks here, if there are issues left we should open dedicated issues.

[2022-05-16 15:09] #120 closed

[2022-05-16 15:11] laeubi commented on #423
I think this is fixed (and released) if we have more issues we can use more smaller scoped tickets.

[2022-05-16 15:12] laeubi commented on #542
@HannesWell I think Ive seen a PR to "remove the last deprecated code" so can we close this now?

[2022-05-16 15:19] laeubi commented on #112
Is this relevant anymore?

[2022-05-16 15:19] laeubi commented on #113
Probably now obsolete or an issue of lemminx?

[2022-05-16 15:20] laeubi commented on #122
@mickaelistria as far as i remember this is now obsolete as search is handled by lemminx?

[2022-05-16 15:21] laeubi commented on #130
Not relevant anymore or probably lemminx issue? @mickaelistria

[2022-05-16 15:25] laeubi commented on #266
@HannesWell do you got any response from Eclipse Infra here?

[2022-05-16 15:26] mickaelistria commented on #130
Right, it seems related to WTP editor which isn't supported anymore.

[2022-05-16 15:26] #130 closed

[2022-05-16 15:26] laeubi commented on #382
@mickaelistria as the legacy editor is now removed can we close this?

[2022-05-16 15:30] akurtakov commented on #266
Only the 3rd one is live now thus closing this one.

[2022-05-16 15:32] mickaelistria commented on #382
Yes, let's close. Thanks.

[2022-05-16 15:34] mickaelistria commented on #112
Yes, let's close optimistiaclly and reopen later if someone reproduces it.

[2022-05-16 15:34] #112 closed

[2022-05-16 15:34] #122 closed

[2022-05-16 15:35] mickaelistria commented on #113
Yes, overall it's one of this issue behind the hood: https://github.com/eclipse/wildwebdeveloper/issues?q=is%3Aissue+is%3Aopen+format . No particular fix is needed in m2e.

[2022-05-16 15:35] #113 closed

[2022-05-16 17:26] mickaelistria commented on #666
@GaZaTu I merged a PR that is supposed to fix it. Please try updating to newer m2e snapshot in the next ~20 minutes and verify whether this is now working for you.

[2022-05-16 17:58] GaZaTu commented on #666
uhh i'm sorry @mickaelistria i left work some time ago and don't have any build env / project at hand rn 😅.
But tbh i wouldn't even know how to update my m2e snapshot anyway.

[2022-05-16 18:37] foal commented on #122
I see the warning `Index downloads are disabled, search results may be incomplete.` in the select dependency dialog. If it is not relevant any more maybe remove this warning?

![image](https://user-images.githubusercontent.com/458209/168659964-9e907af8-c8df-440a-a473-b8bb3a09d668.png)

[2022-05-16 19:13] mickaelistria commented on #666
No need to be sorry for that, it's not some high emergency; enjoy your time away from work!

Please see https://github.com/eclipse-m2e/m2e-core/blob/master/CONTRIBUTING.md#-trying-latest-builds to get some instructions about installing latest snapshots.

[2022-05-16 20:48] HannesWell commented on #122
You can now search directly in the pom-editor (Mickael correct me if I'm wrong).
Just type in what you are interested in and the content assist will make proposals based on the search results.
If you use the content assist for specific fields, proposals for that field should be shown.

[2022-05-16 20:51] HannesWell commented on #423
If this ticket is only about how the maven-runtime projects in m2e are set up, this is not yet fixed, since I have not yet completed https://github.com/eclipse-m2e/m2e-core/pull/466

[2022-05-16 20:54] HannesWell commented on #542
Yes deprecated IMaven APi was removed with https://github.com/eclipse-m2e/m2e-core/pull/680.
The last removal of deprecated API in general was done with https://github.com/eclipse-m2e/m2e-core/pull/685

So there should not be any deprecated M2E-API any more. I also tried to replace all usage of deprecated API of external dependencies in m2e where possible.

[2022-05-16 20:54] #542 closed

[2022-05-16 21:04] HannesWell commented on #420
Not yet completely done, but created the help-desk issue to close the list:
https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1306

[2022-05-16 21:10] HannesWell commented on #266
Have to admint, that I have not yet get in touch with them. Kept this one for the point when I will have some time, but I have not reached that yet.

But Aleks is right, only the third (the right one) is available and the other ones are gone. So nothing has to be done anymore.

While checking it I noticed that there is a entry for the m2e-apt connector:
https://marketplace.eclipse.org/content/apt-

[2022-05-16 21:14] HannesWell commented on #124
It has been improved yes, but I think https://github.com/eclipse-m2e/m2e-core/pull/471 should be completed to resolve this one (it is dedicated to this issue).
Furthermore we should also support polyglot projects like Eclipse-Plugin projects that don't have an explicit pom, which is addressed in https://github.com/eclipse-m2e/m2e-core/pull/572 but that has to be reworked.

So I think this should s

[2022-05-17 05:16] foal commented on #122
Not sure that is convenient replacement.
![image](https://user-images.githubusercontent.com/458209/168733776-a8c12ad5-0133-461f-8ac7-0f05209845e8.png)

To see some results, I must (?) know the group name of the artifact, but it is not usually the case
![image](https://user-images.githubusercontent.com/458209/168734154-44dcce9a-30a2-4e52-a5a3-ae48ccf91af8.png)

Or did I use it in the wrong way?

[2022-05-17 05:20] laeubi commented on #122
@foal you can report any issues to https://github.com/eclipse/lemminx-maven/ that's where it is implemented now, so m2e is "just" a consumer of that functionality but do not provide the editor.

[2022-05-17 05:20] akurtakov commented on #266
Once 2.0.0 is out so m2e entry contains it open issue like https://gitlab.eclipse.org/eclipsefdn/it/websites/marketplace.eclipse.org/-/issues/74 to get apt entry removed.

[2022-05-17 05:21] laeubi commented on #122
Could you open a dedicated issue for this so it can be addressed?

[2022-05-17 05:24] laeubi commented on #551
@HannesWell what do you think, should we simply include this plugin (maybe under a new name) to further proceed here?

[2022-05-17 05:24] laeubi commented on #666
Should we close this and open dedicated issues if there is more work to do?

[2022-05-17 05:26] laeubi commented on #617
You mean `Run As > Maven`? The Eclipse build what is running *inside* Eclipse as you edit your source files.

[2022-05-17 05:30] laeubi commented on #452
Is this solved?

[2022-05-17 05:30] laeubi commented on #463
@mickaelistria is this lemminx issue?

[2022-05-17 05:32] laeubi commented on #472
@garydgregory can you try out the latest 2.0 snapshot please and see if the loop is fixed there?
Might be a duplicate of #389 #252 or #123

[2022-05-17 05:33] laeubi commented on #477
Could this be closed then?

[2022-05-17 05:35] laeubi commented on #514
@arjantijms @gsmet could you try the latest snapshot and report if the problem still persist?

[2022-05-17 05:36] kwin commented on #477
All issues mentioned in https://github.com/eclipse-m2e/m2e-core/issues/477#issue-1092746402 are not yet fixed (and the font size needs to be fixed in m2e core and not sure not in lemminx)

[2022-05-17 05:42] laeubi commented on #620
Can you provide a small example to reproduce this? Currently m2e "builds" each project separately and if you enable workspace resolving map dependencies to workspace projects so maybe that is causing what you see with the output directory?

[2022-05-17 05:53] mickaelistria commented on #666
Let's wait for @GaZaTu to verify it befotlre closing.

[2022-05-17 06:39] fy-gualtiero-testa commented on #617
No, Maven Wrapper (https://maven.apache.org/wrapper/) is a tool which creates a project specific Maven installation. Having Maven version defined at project level helps to be consistent among team members, CI tools and IDEs because they all use the same Maven version.
Maven wrapper creates two script files (mvnw and mvnw.bat) and a .mvn dir in the project root dir; the scripts can be used as a rep

[2022-05-17 07:12] laeubi commented on #514
Great, thanks for the feedback.

[2022-05-17 07:12] #514 closed

[2022-05-17 07:21] tmortagne commented on #452
Yes, seems to be. I did not experience it since the upgrade.

[2022-05-17 07:22] laeubi commented on #452
Thanks for the feedback!

[2022-05-17 07:22] #452 closed

[2022-05-17 07:25] arjantijms commented on #659
I know it's but a minimal data point but with 2021-12 I had exactly this all the time. M2E would see source jars not as attachments to jar files without source, but as a fully individual jar containing external source.

With 2022-03 this issue disappeared for me.

[2022-05-17 07:27] mickaelistria commented on #659
Thanks @arjantijms . Let's be optimist and hope your positive experience applies generally, and close.

[2022-05-17 07:27] #659 closed

[2022-05-17 07:31] mickaelistria commented on #463
No, it's more an issue in LSP4E I believe.
However, this was refactored in LSP4E a while ago and shouldn't be happening with latest LSP4E snapshots/upcoming LSP4E release, so let's close.

[2022-05-17 07:31] #463 closed

[2022-05-17 07:45] gsmet commented on #514
Yeah same here. I don't have this particular issues but I have several others. I need to create issues for them.

[2022-05-17 07:55] vogella commented on #463
Tried with   M2E - Maven Integration for Eclipse (includes Incubating components)	1.20.1.20220227-1319	org.eclipse.m2e.feature.feature.group	Eclipse.org - m2e and its is still bad. To test:

1.) Switch to dark theme
2.) Open pom
3.) Hover of project and observe the closing tag

![image](https://user-images.githubusercontent.com/139910/168759519-2978e57a-7232-4500-8a3e-479ac507726c.png)

[2022-05-17 07:56] vogella commented on #463
Which it is not light anymore, now it is unreadable. 👎

[2022-05-17 08:01] mickaelistria commented on #463
Please report to LSP4E.

[2022-05-17 08:10] GaZaTu commented on #666
idk what i'm doing wrong, i even downloaded a fresh eclipse-ide, but i just can't get this damn "Install new Software" dialog to open (which i assume is where i need to input `https://download.eclipse.org/technology/m2e/snapshots/latest/`).
Getting the following dialog message: `Cannot complete the request. This installation has not been configured properly for Software Updates. See the error log

[2022-05-17 08:16] mickaelistria commented on #666
@GaZaTu You seem to be unlucky here. Can you please try by downloading the Eclipse SDK from https://download.eclipse.org/eclipse/downloads/drops4/R-4.23-202203080310/ ?

[2022-05-17 08:25] theit opened #708 "org.codehaus.mojo:build-helper-maven-plugin:3.3.0:timestamp-property failed: date must not be null"
Eclipse:
Version: 2022-06 M2 (4.24.0 M2)
Build id: 20220505-1344

m2e:
M2E - Maven Integration for Eclipse (includes Incubating components): 1.20.1.20220227-1319
M2E - PDE Integration: 1.20.0.20220208-0831
M2E - POM Editor using LemMinX language server (includes Incubating components): 1.18.4.20220127-1634

Java:
openjdk version "18.0.1" 2022-04-19
OpenJDK Runtime Environment Homebrew (build 18.0.

[2022-05-17 08:31] laeubi commented on #708
This is more a "feature" (at least with current code) the start time is explicitly not set by maven.

[2022-05-17 08:32] GaZaTu commented on #666
OK atleast i'm able to open the "Install new Software" dialog, but now i'm stuck trying to install `m2e`.
Getting the following error message:
[code]
I assume i need to install some other dependency before i install m2e but i have no idea which one/where to get it.
😑

[2022-05-17 08:34] mickaelistria commented on #666
On the Install Dialog, there is a "Manage Sites" button. Click it to add https://download.eclipse.org/releases/latest/ (which should contain most deps). Then try re-installing m2e.

[2022-05-17 08:44] arjantijms commented on #514
Yeah, issues include the editor generating "garbage" while trying to complete tags when editing. Sometimes it's so bad I need to open a pom.xml in text mode, as the autocompletion and copy paste keeps producing garbage in the pom.

But like the hang it's not so easy to reproduce, or even describe what's going on.

[2022-05-17 08:54] GaZaTu commented on #666
Looks like this issue is fixed, atleast i'm not getting any error messages anymore.
Only thing i noticed is that `${maven.multiModuleProjectDirectory}` is not expanded in `Effective POM` but idk if that's relevant.

[2022-05-17 08:58] mickaelistria commented on #666
Great, thanks for testing!

If you think it's worth it, please open a separate issue.

[2022-05-17 08:58] #666 closed

[2022-05-17 09:13] gsmet commented on #514
For me, it's very slow copy/paste sometimes not copying anything. I don't know if it's the selection that is slow or something else but it's getting very hard to make sure something has been copied. And it can take ages to paste something.
In the end, I do: selection - wait 3 seconds - copy - wait 3 seconds - paste (and the paste can take several seconds to be effective).

I also have problems wit

[2022-05-17 09:17] laeubi commented on #514
If any of you can give some more details / examples in reproduce the issue it would be helpful to collect them here:

- https://github.com/eclipse/lemminx-maven/issues/288

[2022-05-17 09:18] mickaelistria commented on #514
@gsmet Please report dedicate issues, ideally with steps to rerproduce.

[2022-05-17 09:21] gsmet commented on #514
Yeah, so that's my problem and why I haven't opened issues yet. I have no idea how to reproduce this. It just started one day and has been nightmarish since then but I have no idea what's the starting point of this.

(and yes, I know it's not helpful but I thought asking Arjan if he was experiencing the same could help narrowing it down)

[2022-05-17 09:21] arjantijms commented on #514
I don't see that particular issue with the slow copy/paste, although similarly to what was mentioned above issues with copying tags appearing garbled in the pom.

Also a weird issue specifically with using the ant runner plugin and embedded ant tags; the editor keeps being focussed on an ant tag. When scrolling the pom down or up, it autoscrolls bag to that one tag.

As with all those issues, diff

[2022-05-17 09:24] laeubi commented on #514
@gsmet it even helps to note that you are experiencing the same issue in the linked ticket so probably you can share your OS (is it OS specific), or even a project you ar working on where it most often occurs... I think every pice helps.

[2022-05-17 09:26] gsmet commented on #514
@laeubi OK, I'll try to get you some info. It happens with the Quarkus project and the whole workspace is Open Source so I can even share the workspace, the Eclipse install and the git repo if it can help you.

I'll do that soon.

[2022-05-17 10:33] laeubi opened #709 "remove addSettingsChangeListener/removeSettingsChangeListener from IMaven"
The methods are not used anywhere and it seems we can reduce the footprint of the IMaven interface here.

[2022-05-17 10:49] GaZaTu commented on #666
Thanks 😋👌

[2022-05-17 15:44] mickaelistria commented on #709
No objection.

[2022-05-17 15:51] laeubi opened #713 "Remove IMavenExecutionContext getExecutionContext();"
We can furhter remove the footprint of IMaven here

IMavenExecutionContext getExecutionContext(); is only called internally and redirects to a static method MavenExecutionContext.getThreadContext() anyways.

We could think about two choices:

remove it completely and use the `MavenExecutionContext.getThreadContext()` internally, or we could add a static method to `IMavenExecutionContext` (now we c

[2022-05-17 16:02] mickaelistria commented on #713
I think we should remove it as it doesn't seem to be much related to current IMaven instance and is more a static internal accessor. Some basic search on GitHub also didn't highlight any maintained code that seems to use this API (only occurrence is https://github.com/random-maven/scalor-maven-plugin/blob/d20e55b4b4bf6f5647811272a08254fa430ccfd4/src/main/scala/com/carrotgarden/maven/scalor/eclipse

[2022-05-17 16:18] #709 closed

[2022-05-17 16:41] #713 closed

[2022-05-17 17:03] HannesWell commented on #420
The list has been closed.

[2022-05-17 17:03] #420 closed

[2022-05-17 17:12] HannesWell commented on #708
You could create an "m2e-profile" that is only active in the IDE and configure the plug-in in a plugin-management section to have `<timeSource>current</timeSource>` set:
[code]

When executing the project build in the IDE m2e injects the `m2e.version` into the Maven request so this profile is only activated in the IDE but not in a regular Maven build (unless you specified it yourself).

[2022-05-17 18:09] rotty3000 commented on #620
this I can check. Where is this option? I did not find anything that resembled this description in the m2e settings.

[2022-05-17 18:11] rotty3000 commented on #620
oh, I think it is this... for each project:
![Screenshot from 2022-05-17 14-10-27](https://user-images.githubusercontent.com/146764/168881320-99748618-ddf4-4aa5-83f2-e0fef4d917bc.png)

Is there a global way to disable that?

[2022-05-18 04:05] laeubi commented on #620
You can right click on the Project and choose Maven > Enable Workspace resolution, not sure if this works for multiple projects. There was already a request for a workspace settings here
- https://github.com/eclipse-m2e/m2e-core/issues/547

but it got not much attention yet.

[2022-05-18 04:15] laeubi opened #718 "Remove IMaven.populateDefaults(MavenExecutionRequest)"
This method is actually not used "outside" of maven-core and we should therefore remove it from the public interface. It also gives the false impression that there is something to do, while we actually call this method as part of the execution anyways.

[2022-05-18 05:23] laeubi opened #720 "Remove getConfiguredMojo/releaseConfiguredMojo"
Both methods seem to be (no longer?) being called.

Also the implementation could (if some project still require it) easily be replicated using the existing API:

[code]

[2022-05-18 05:51] mickaelistria commented on #718
+1

[2022-05-18 06:02] mickaelistria commented on #720
+1

[2022-05-18 06:53] fbricon commented on #720
-1 it's being used by 3rd party plugins: https://github.com/search?q=maven.getConfiguredMojo&type=Code, removing API without a deprecating cycle is bad for the ecosystem

[2022-05-18 07:01] laeubi opened #721 "Adopt org.sonatype.m2e.mavenarchiver"
There is a connector for maven-archiver:

https://github.com/tesla/m2eclipse-mavenarchiver/tree/master/org.sonatype.m2e.mavenarchiver

as maven-archiver is a "maven-standard plugin" and the project do not get much attention/maintenance in the past years I think it would be beneficial to adopt it here (it is EPL2.0 licensed).

This has several benefits:

1. we can easier evolve m2e
2. smaller adjus

[2022-05-18 07:07] laeubi commented on #720
Anyone ever heard of https://github.com/svn2github/jamon ? what does it do? Seems it has not got any updates than nearly 10 years, probably dead project and won't notice any deprecation anyways.

https://github.com/charles-marques/dataset-375 seems to be at least active two years ago, so there might be a chance to getting updates.

for the https://github.com/tesla/m2eclipse-mavenarchiver I have op

[2022-05-18 07:37] mickaelistria commented on #720
I did miss those 2 matches when doing my search. Not sure whether I failed at reading results correctly or whether I used a different (bad) search request.
Anyway, now we're proven some extensions use it, -1 for a removal. But as m2e itself doesn't use it, I think it's OK to `@Deprecated(forRemoval = true)` it and document it with the provided snippet to replace it.

[2022-05-18 07:40] mickaelistria commented on #721
That could be a good thing to do eventually, however not so high priority IMO.

[2022-05-18 07:51] theit commented on #708
Yes, but this would add lots of clutter to the pom.xml solely for the purpose of ignoring the (IMHO unnecessary) error that only occurs inside Eclipse. In our team a some colleagues prefer IntelliJ so they wouldn't benefit from that.

Is there anything to be said against using `<?m2e ignore?>` in the execution block? The project should be buildable normally via command line, the CI/CD server, and

[2022-05-18 08:00] HannesWell commented on #718
+1 from me too.

[2022-05-18 08:09] mickaelistria commented on #708
No `<?m2e ignore?>` is good and should be advertised a bit more in m2e.

[2022-05-18 08:10] HannesWell commented on #708
No there nothing against `<?m2e ignore?>`.

The m2e.version profiles are indeed quite verbose most of the time.

[2022-05-18 08:12] HannesWell commented on #708
Yes it should be more advertised. Maybe the documentation at https://www.eclipse.org/m2e/documentation/m2e-documentation.html should be made available more prominent and updated.

[2022-05-18 08:25] HannesWell commented on #551
Good question. I have not thought about this further and cannot tell.
Maybe @fbricon can tell if there is any chance that project evolves further in the future?

But IIRC m2e is using it only internally anyway so we could include it now and again replace it later in case the project evolves in the future.
On the other hand do we have a benefit if we embedded it?
We could first update it. I'm not s

[2022-05-18 08:40] laeubi commented on #720
Then lets keep this 'as-is' and wait for the desision about #721 I think if there is really a use-case inside m2e that reference this we might even considder to keep this permanent.

[2022-05-18 08:43] laeubi commented on #551
I think we effectively would "adopt" the project then, so we ca change/evolve the code and others probably then use this if they want to.

[2022-05-18 10:05] theit commented on #708
+1

I have only seen references to this in the release notes for [m2eclipse 1.7](https://www.eclipse.org/m2e/documentation/release-notes-17.html).

Anyway, thank you all for the hints and comments!

[2022-05-18 11:15] laeubi commented on #708
I think we should fix the bug anyways, advertising to disable m2e seems not a profitable option :-D

[2022-05-18 11:16] laeubi commented on #708
@theit can you provide a minimal reproducer project for this? I'm currently investigate some ways to make m2e behave more "like maven" so this could be a good test-case for this.

[2022-05-18 12:26] fbricon opened #723 "[regression] Autocompletion for directory/file based properties no longer working in the pom.xml editor"
This feature was introduced in m2e 1.7, see https://www.eclipse.org/m2e/documentation/release-notes-17.html#autocompletion-for-directory-file-based-properties-in-the-pom-xml-editor

![folder-content-assist](https://user-images.githubusercontent.com/148698/169037505-ec2822a6-ce62-4fdc-8d66-9b7b802f906a.gif)

AFAICT directory completion only works for modules now.

[2022-05-18 13:27] mickaelistria opened #724 "Missing "Maven > Update Maven Project" context menu on Maven projects"
Using latest snapshots, Missing "Maven > Update Maven Project" context menu on Maven projects

[2022-05-19 06:30] HannesWell commented on #721
With adding more and more connectors I wonder if we should add them to the `m2e-core` repo or to another `m2e-connectors` (or similar) repository?

[2022-05-19 07:09] HannesWell commented on #551
Yes.
Do you see a need to adjust it? I don't see a good one, but also didn't thought about it further.
Since we can include it at any time we want (it is just used internally and I don't think that anybody relies on the specific workspace-state file format?) I suggest to do it at the time we need it.
One reason I hesitate a bit to include the workspace.cli is that it has to be in a dedicated plug-

[2022-05-19 07:27] HannesWell commented on #617
Considering the Maven-Wrapper when launching a Maven-build should be straight forward.
In the end it is a external Maven-installation, which is already supported. M2E would only have to be taught to use that automatically. Probably somewhere in the vicinity of `org.eclipse.m2e.core.internal.launch.MavenExternalRuntime` and in `org.eclipse.m2e.launching`.

Using the Maven-Wrapper installation when

[2022-05-19 07:27] laeubi commented on #721
Please add them here, we don't want to end up like platform with many inter-connected and related repos :-)
The goal is that we can easier evolve these connectors, having more repos would make it more complicate in terms of build, management and release.

[2022-05-19 07:34] laeubi commented on #551
Last time there where some "deprecated" / "don't use anymore" methods

In a normal mvn command-line build (and that's what we are doing here!) everything is only resolved from the current reactor build, then from the repository and then fails.

To prevent this, maven allows to register a so called "Workspace Reader", that allows to inject additional "workspace" artifacts (e.g. projects in an eclip

[2022-05-19 07:40] laeubi commented on #617
m2e always uses the "embedded" runtime in eclipse and I don't see a problem here, the purpose of the wrapper is that one don't need (that particular version) installed on your machine and it is downloaded automatically, so m2e is already a "mvn wrapper" like :-)

So I think this should really be limited to running the build, and actually we probably simply adjust the runner to run the commandline

[2022-05-19 20:15] HannesWell commented on #551
Thanks for the elaboration. That is indeed usefull.
Do you know if this also works for plug-ins of the Maven-build (for example in the Tycho-workspace) or does this require something like:
https://github.com/ifedorenko/com.ifedorenko.m2e.mavendev#maven-development-tools ?

[2022-05-20 04:19] laeubi commented on #551
I think @akurtakov can better tell here as he is a contributor of that project :-)

[2022-05-20 04:32] akurtakov commented on #551
That surprised me a lot (looks like I never really contributed anything but a releng fix) :) . I'm not sure I understand what the question is exactly but workspace reader is a general concept that applies to Maven builds in general and we relied on it in [XMvn] (https://github.com/fedora-java/xmvn) to override version with system one in RPM builds.

[2022-05-21 14:34] #720 closed

[2022-05-21 14:57] #718 closed

[2022-05-21 16:27] laeubi commented on #708
Thanks for the example I used that now to create a test and propose a fix: https://github.com/eclipse-m2e/m2e-core/pull/728

[2022-05-21 17:25] #708 closed

[2022-05-22 14:58] laeubi commented on #724
I think the context menu is named just named `Update Project...` but I can't even find that name anywhere. Maybe this was part of a bundle that was removed?

[2022-05-22 15:38] laeubi commented on #721
@fbricon if you are fine with that I'll open a CQ to import the code into this repository, WDYT?

[2022-05-22 15:41] fbricon commented on #721
sure go ahead

[2022-05-22 15:41] laeubi commented on #622
From the code in `MavenMetadataSource`:

[code]
this would happen if a system scoped dependency is there but the systempath is `null`

[2022-05-22 15:46] laeubi commented on #721
Done with https://dev.eclipse.org/ipzilla/show_bug.cgi

[2022-05-22 19:45] HannesWell commented on #721
It is easier to evolve these connectors, no question and platform did too much in modularising its git repositories. I fully agree.
But at the same time there are also the usual downsides if we add more and more connector projects and the repo constantly grows as one monolith (build-time, harder to oversee etc., it has been discussed multiple times).
Therefore I think having the a `m2e-connectors`

[2022-05-22 20:40] mickaelistria commented on #721
History explains that (as it explains almost everything): the separation pre-dates Git and is not at all about modularization. It was more a "human" separation where people had different permissions on different repositories; because it made sense back then. Each one of this repository was a dedicated Eclipse sub-project of Eclipse Platform, with different committers and so on.

[2022-05-23 04:16] laeubi commented on #721
I think buildtime can easily be neglected, it is only a few seconds for such module and growing project size can be handled if we either use workingsets or chose a subfolder (e.g. `bundle` `features` `connectors` `...`). we are also not forced to have one bundle per connector, we can simply squash them into one if we thing it suits e.g. into one "maven-default-connectors".

Beside that we would ne

[2022-05-23 06:48] HannesWell commented on #721
These are good suggestions/points.
Nevertheless I think we should then not become too comfortable in removing APIs, even if it is technically easy. :)

[2022-05-23 06:53] laeubi commented on #721
The main problem right now is that connectors can not reliable state their m2e-support, last time I checked there was even only a fixed version that must be used for them to work where we really need a version range... also the usage of the catalogue makes the whole connector story rather complex and not very dynamic to let connectors evolve.

This was on my TODO list for 2.x but I fear it won't m

[2022-05-23 11:48] mickaelistria commented on #617
Usage of embedded Maven vs Maven wrapper is far from being the main reason of inconsistencies of CLI vs m2e builds. The main reasons are support of non-m2e-stamped mojos, support of extensions, support of maven.conf and so on; the wrapper has a neglictable effect on outcome compared to those.
So I wouldn't advise anyone spending time on this particular issue, until other ones listed above have muc

[2022-05-23 15:28] mickaelistria commented on #724
The menu is present with latest m2e release (org.eclipse.m2e.core.feature 1.20.1.20220227-1319), here is what menu spy shows
![Screenshot from 2022-05-23 17-24-05](https://user-images.githubusercontent.com/469058/169853820-40663562-3ae8-42b7-a671-7d8d4d2483d5.png)

[2022-05-23 15:33] laeubi commented on #724
Do you mean "Update Maven Project" in the Menu bar (Project > Update Maven Project) or in the Context Menu wen you right click a pom file (Maven > Update Project...)?
The first is (always?) shown, the second is missing in current snapshot as far as I can see.

[2022-05-23 15:35] mickaelistria commented on #724
Context-menu.

[2022-05-23 18:23] snjeza opened #731 "Cut dependency to maven archetype runtime from m2e.core"
Related Eclipse bug - https://bugs.eclipse.org/bugs/show_bug.cgi?id=517822

[2022-05-23 21:04] HannesWell commented on #721
That would be indeed good for m2e. I also read the associated issues a bit, but yes this seems to take some time to improve that.

[2022-05-23 21:09] mickaelistria commented on #724
Other part of the removal is at https://github.com/eclipse-m2e/m2e-core/commit/f7a928179f93874ec7659122e54044e841125f34 . Athough this method is marked as Deprecated, it's actually still useful and internal, so let's restore it too.

[2022-05-23 21:13] HannesWell commented on #724
Looks like I oversaw that.

@mickaelistria do you plan to work on this? Or should I resort that part internally?

[2022-05-23 21:14] mickaelistria commented on #724
I'm stopping my laptop for today. If you want to provide a patch before I'm back to work tomorrow morning, it's very welcome ;) Otherwise I'll take care of it tomorrow.

[2022-05-23 22:27] HannesWell commented on #724
I created https://github.com/eclipse-m2e/m2e-core/pull/733 to basically revert the removal. I also tried to replace the deprecated extensions of the a `org.eclipse.ui.menus` extension-point using a `menuContribution` but failed for today because I don't know these extensions well. I think the most difficult part is to find a proper `locationURI`. I tried `locationURI="popup:org.eclipse.ui.popupMen

[2022-05-24 03:37] laeubi commented on #724
https://www.vogella.com/tutorials/EclipseCodeAccess/article.html#menu-spy

[2022-05-24 08:01] mickaelistria commented on #724
I spend a non-negligible amount of time on this exact same issue, in vain. So I fully sympathize with that and am happy with keeping the objectContribution so far.

[2022-05-24 08:04] laeubi commented on #724
Probably either MenuSpy, Eclipse Debugging or E4Tooling or even all of them must then be enhanced to better support this? I also found it frustrating in the past because there is little to no feedback and simply *nothing* happens...

[2022-05-24 08:11] mickaelistria commented on #724
Yes, probably. I can get MenySpy working and retrieve a locationUri, but then trying to use this locationUri in a menu does nothing interesting. I'm not sure it's a tooling issue, it's possible that menus creates with the outdated "popupMenus" extension points are actually not extensible by commands.

[2022-05-24 08:52] HannesWell commented on #724
There are many more deprecated extension points used, so if we know how to replace some, we can then replace all and fix the deprecation warnings.

Indeed. Better debugging/error reporting support would be very helpful.

[2022-05-24 08:59] mickaelistria commented on #724
The context-menu Project Explorer should be extensible with "org.eclipse.ui.menus" and "org.eclipse.ui.navigator.viewerContent" extension-points I believe. But first step would be to turn all actions into Commands/Handlers first and make the "legacy" actions used in objectContributions delegate to the command; then we can remove the objectContributions and use a more modern extension point. But it

[2022-05-24 17:26] freedom1b2830 opened #738 "logback RCE CVE-2021-42550"
https://github.com/advisories/GHSA-668q-qrv7-99fm

[scanner](https://github.com/logpresso/CVE-2021-44228-Scanner)
args:[--scan-log4j1 --scan-logback --scan-zip]

[?] Found CVE-2021-42550 (logback 1.2.7) vulnerability in $ECLIPSE_DIR/plugins/ch.qos.logback.classic_1.2.3.v20200428-2012.jar, logback N/A
[?] Found CVE-2021-42550 (logback 1.2.7) vulnerability in $HOME/.p2/pool/plugins/ch.qos.logback.cl

[2022-05-24 21:33] mickaelistria commented on #721
We'll need to move faster on this one because we need to update&release mavenarchiver connector for m2e 2.0. Integrating the existing code into m2e and release it together seems the most efficient path.

[2022-05-24 21:37] mickaelistria commented on #721
I opened CQ https://dev.eclipse.org/ipzilla/show_bug.cgi?id=24120

[2022-05-24 21:42] HannesWell commented on #738
Thanks for your report.
At the moment the logback dependencies are provided by Eclipse Orbit.
The version either has to be updated there or we could obtain logback-classic/core directly from Maven-Central.
But since orbit also provides a `ch.qos.logback.slf4j` fragment to wire `ch.qos.logback.classic/core` and some dependencies to the slf4j bundle I first have to check how that can be achieved wit

[2022-05-24 21:45] HannesWell commented on #721
Christoph already opened one but is has not yet completed:

[2022-05-24 22:38] freedom1b2830 commented on #738
can you provide a link to issues Eclipse Orbit ?

[2022-05-25 05:26] akurtakov commented on #738
https://bugs.eclipse.org/bugs/enter_bug.cgi?product=Orbit

[2022-05-25 05:40] #738 closed

[2022-05-25 05:41] freedom1b2830 commented on #738
https://bugs.eclipse.org/bugs/show_bug.cgi?id=580000

[2022-05-25 19:34] HannesWell commented on #738
I have checked how the slf4j-api bundle from Maven-Central is wired to its bindings:
For version<2 it imports a package `org.sfl4j.impl` that the binding has to export.
For version 2 it looks like the OSGi Service Loader Mediator is used.

Any way the original logback from Maven-Central can only be used if also slf4j from Maven-Central is used. And although Eclipse Platform does not use slf4j I su

[2022-05-26 06:17] akurtakov commented on #738
As it's CVE just update and it should contributed to M1 for September simrel, that should give enough time for others to adjust accordingly.

[2022-05-26 09:26] sorin-costea commented on #145
@mickaelistria there is already the "experimental" Maven preferences option to hide modules of nested projects, which does absolutely nothing (as seen in a few projects and a few Eclipse versions). You are asking for a reason to hide the target or the nested modules, but I would love to hear one single reason to actually see them. Isn't a target always a target? Isn't a nested module already a sta

[2022-05-26 11:54] kjsmita6 commented on #145
As @mickaelistria said, this is probably a platform problem. I believe it works like this. Say you have a project structure like this, where Main is a multi-module Maven project and sub1 and sub2 are its modules (also Maven projects):
`Main`
--- `sub1`
--- `sub2`

Eclipse will display them in the package explorer like this:
<img width="447" alt="Screen Shot 2022-05-26 at 7 50 32 AM" src="https://u

[2022-05-26 13:58] sorin-costea commented on #145
@kjsmita6 indeed that makes sense. I also most of the time don't import the parent project in the workplace, or sometimes use the AutoDerive Eclipse plugin and handle stuff by hand in .derived. So I have my acceptable workaround, but just wonder why the platform reasons like this.

[2022-05-29 20:07] mickaelistria commented on #145
Nested projects are the root of many evils in Platform ;) They basically duplicate resources in the model and these resources, although they link to the same file can have different state/metadata. This is particularly useful in some (relatively rare case) where some build execution happen on different levels and having different metadata do allow to have some files ignored for one builder but not

[2022-05-29 21:08] mickaelistria commented on #721
In the meantime while we're waiting for IP approval, I've started to work on the code at https://github.com/mickaelistria/tesla-m2eclipse-mavenarchiver . I basically removed all "noise" that we won't keep in m2e, and updated a few things here and there to get projects in a state that makes them easy to import in workspace and using latest m2e snapshots. There are osme compile errors because of mis

[2022-05-30 07:49] mickaelistria commented on #721
@laeubi would be nice if you can have a look at https://github.com/mickaelistria/tesla-m2eclipse-mavenarchiver . I believe that this code asks for a `IMavenProjectFacade.getMaven()` API, but if you have an idea of how to achieve the same without a new API, that would be very welcome.

[2022-05-30 07:55] laeubi commented on #721
@mickaelistria can you give a specific code location or should I just checkout the code into m2e workspace? In almost all cases where you want to call `IMaven` one should instead use one of the `IMavenExcutionContext#execute` variants instead.

[2022-05-30 07:57] mickaelistria commented on #721
That should work.

Ack

[2022-05-30 10:49] mickaelistria commented on #721
@waynebeaton Is IPZilla (eg https://dev.eclipse.org/ipzilla/show_bug.cgi?id=24115 ) still the best way to add inclusion of code into the project or should we open an issue on GitLab?

[2022-05-30 13:42] waynebeaton commented on #721
@mickaelistria the existing practices are still in place for project code contributions for now. We need a source code attachment on that contribution.

[2022-05-31 12:21] dnb-erik-brangs opened #739 "Lemminx POM editor does not seem to support "Open selection""
The legacy POM editor supports "Open selection" (bound to F3 in my installation) when right clicking on POM elements like the tags inside of ``<parent>`` or inside of ``<dependencies>``. This allows navigation to the parent POMs and the POMs of the dependencies. I think this feature is very useful.

The Lemminx editor in Eclipse 2022-03 does not seem to support this feature. Please add it.

[2022-05-31 12:23] mickaelistria commented on #739
Does Ctrl+Click work?

[2022-05-31 12:33] dnb-erik-brangs commented on #739
Ctrl+Click does not work in the Lemminx editor. I can only Ctrl+Click on the maven elements itself (e.g. ``<parent>`` or ``<dependency>``) and only have "Open declaration" at that point. Selecting "Open declaration" opens the definitions of the elements in the Maven XSD.

[2022-05-31 12:35] mickaelistria commented on #739
This feature is available, but seems to be failing in your case. Can you please try on a fresh workspace with a very basic pom file, and ensuring latest releases of Wild Web Developer and m2e are installed?

[2022-05-31 14:36] dnb-erik-brangs commented on #739
[.log](https://github.com/eclipse-m2e/m2e-core/files/8806082/default.log)
[org.eclipse.wildwebdeveloper.xml.log](https://github.com/eclipse-m2e/m2e-core/files/8806083/org.eclipse.wildwebdeveloper.xml.log)

I'm on Windows. I've tried ``tasklist /v | findstr /c:"lemminx"`` and didn't find anything. Should I try something else?

[2022-05-31 14:45] mickaelistria commented on #739
No need for further investigation, the cause is visible in .log file
[code]
It's a duplicate of #621 that is fixed in current snapshots ( https://download.eclipse.org/technology/m2e/snapshots/latest/ ) and next m2e release.

[2022-05-31 14:45] #739 closed

[2022-05-31 14:52] dnb-erik-brangs commented on #739
I can't verify that because the snapshot isn't installable in my Eclipse. Do I have to wait for 2022-06 for a fix?

[2022-05-31 15:20] mickaelistria commented on #739
What's the error when trying to install it?

[2022-05-31 15:25] dnb-erik-brangs commented on #739
There's a dependency conflict with JBoss Tools and m2e WTP. Eclipse can't find a solution. The "solutions" offered by Eclipse include uninstalling JBoss Tools and m2e WTP to install the m2e snapshot.

[2022-06-01 21:56] HannesWell commented on #249
@laeubi if you plan to update the code I can offer to contribute the update of `org.eclipse.m2e.archetype.common/pom.xml`. It is a bit tedious work to find all the right exclusion but I have done locally already.

[2022-06-02 04:54] laeubi commented on #249
@HannesWell sure, every piece would help, I think the discussions about size, interactive and system exit are valid but don't have to be the primary driver here given that

1. It does not work at all (even not for 'gracefull' scripts
2. We are shipping ancient versions
3. It seems not profitable to first refactor m2e using ancient versions and then refactor it to use newer versions
4. 'size' is no

[2022-06-02 12:11] pzi-dsa opened #743 "Occasionally, m2e is unable to read wrapped artifacts"
In our project, we make extensive use of the Spring framework which we add to our target platform via the m2e integration. And since they are only plain Maven artifacts, we let m2e rebundle them as OSGi plugins.
In general, this works quite well. But I frequently run into a situation, where Eclipse is unable to resolve those dependencies with an error similar to:

[code]

Reloading the target plat

[2022-06-02 12:18] laeubi commented on #743
Are you on linux or windows? In general I think one could catch the I/O error and create the wrapped item from scratch.

[2022-06-02 12:25] laeubi commented on #743
it *might* be an issue that the jar-file is currently open and this the process can't overwrite it, so maybe it would be required to create a new file, try to delete the old and then rename it, if either delete an/or rename do not work just keep the new one...

[2022-06-02 12:41] jeffmaury opened #744 "Opening an M2E project does not restore the Maven dependencies container"
When an M2E project is opened in a workspace, the Maven dependencies container is not restored.

Here are the steps:

- create a first Maven project with dependencies
- create a second Maven project with dependencies
- remove the second project
- import the project as `General -> Existing Projects into Workspace`

[2022-06-02 19:02] laeubi commented on #249
Not immediately, most probably somewhere end of next week.

[2022-06-02 19:09] laeubi commented on #249
As far as I have understand the 2.0 is delayed until 2022-09 so I think it would be possible.

If we feel better then ... why not, we can still delete them in the 2.0 anyways ;-)

[2022-06-03 01:42] jhoncarlos0182 commented on #278
Change `<systemPath>${project.basedir}/webapp/WEB-INF/lib/aSampleJar.jar</systemPath>` to `<systemPath>${pom.basedir}/webapp/WEB-INF/lib/aSampleJar.jar</systemPath>`.

The warning, you could ignore it.

[2022-06-03 04:32] laeubi commented on #731
This seems a requirement for the Archetype migration. I have checked this and it seems at least we can reduce some dependencies as a first step.

[2022-06-03 07:51] brbog opened #747 "Use latest maven-4.0.0.xsd to validate pom.xml"
At the moment following snippets are considered faulty inside a pom.xml:
[code]
[code]
This is because the xsd used to validate the pom.xml is cached instead of fetched from its internet location and the cached version is outdated. These attributes were additions to later Maven versions.

You can get the latest xsd from Maven (http://maven.apache.org/xsd/maven-4.0.0.xsd). I think the fix is replac

[2022-06-03 08:42] mickaelistria commented on #747
I couldn't reproduce it locally (that doesn't invalidate a caching issue). Can you provide steps to reproduce the issue with a fresh Eclipse IDE and installing m2e from https://download.eclipse.org/technology/m2e/snapshots/latest ?

[2022-06-03 08:48] HannesWell commented on #747
That XSD indeed can be updated. But it is not only about updating the xsd, the code generated from it also has to be re-generated (and the project itself can be cleaned up and its documentation can be improved). I started some work on this a while ago but did not complete it yet (I'm not sure about the reasons), but I can have a look at that again soon.

But with Mickaels comment I'm not sure if t

[2022-06-05 08:48] HannesWell opened #751 "POM-Editor should open pom's in local Maven-repo as read-only"
When opening the pom of a dependency in the local maven cache, for example by Ctrl+Clicking on a corresponding dependency element, the POM-Editor allows modifications of that POM. But since the pom's in the local-maven cache is only intended to be modified by corresponding downloads from another repo or installs, such POM should be opened read-only. Of course one could still open the POM in a text

[2022-06-05 11:39] HannesWell commented on #249
I thought @mickaelistria wanted to release ASAP altough we would have time for next SimRel.
Nevertheless I would also be in favor to wait longer with a release. Removing Archetype is IMHO definitly a goal to wait for.
Especially since Archtype is also used in m2e's API in `IProjectConfigurationManager`.
So we should remove those usages before a 2.0 release.

[2022-06-05 11:40] laeubi commented on #249
Yes that's something I want to get rid of.

[2022-06-05 20:21] mickaelistria commented on #751
The ctrl+click target is provided by the language server; and LSP doesn't make a distinction of read-only or not target.
So the smartness should be implemented somewhere in m2e that should load a non-modifiable document for those files. However, I don't know how to implement that reliably. There used to be some code in m2e that was opening links in read-only mode in some cases, but it was more tie

[2022-06-06 05:06] laeubi commented on #751
I think one can assume each file as read-only that can't be located in the workspace. Then show a "Enable edit" somewhere with a warning that the file is not part of the workspace?
Another option would be to fetch the current local repository path and disable editing for any file resing inside this folder.

[2022-06-06 18:49] mickaelistria commented on #751
No. Eclipse IDE has "File > Open File" to open a file in the IDE, most likely to edit it. So in general, any file opened in the IDE might be opened in order to be edited. The read-only case is more the corner case.

That sounds safer, and at least it's a fix in m2e for an m2e-specific problem.

[2022-06-07 06:29] trandersen-ufst opened #755 "Let m2e configure the various warning/error levels of the Java compiler."
I have a situation with a pure Maven multi-module project, where two of the modules generate Java code from an openapi generator. This works well. (Pure means we do not have any IDE specific files checked into git).

Unfortunately the code generated works, but has a lot of warnings like unused imports, and deprecated methods, which pollutes the Problem panel in Eclipse, and I managed to get ecj to

[2022-06-07 06:35] mickaelistria commented on #755
The entry-point where to read those args and pass them to JDT configuration would be https://github.com/eclipse-m2e/m2e-core/blob/master/org.eclipse.m2e.jdt/src/org/eclipse/m2e/jdt/internal/AbstractJavaProjectConfigurator.java ; which is capable of reading compiler args from the Maven model; but currently does not seem to use them for JDT configuration (only classpath is set).

[2022-06-07 13:39] laeubi opened #757 "org.eclipse.m2e.maven.runtime complains about "release 17""
I'm now getting the following errors:

I have a JDK17 as my default JRE enabled in the workspace... and even though it is marked as a java problem its a bit unclear where to "fix" the problem...

[2022-06-07 13:43] laeubi commented on #757
I think the problem is because m2e do not update the JRE Classpath container if one changes the target level.

Reproducer (requires JDK11 and JDK17 configured):

1. create a mvn project with target level 11
2. import in m2e --> Target JRE is sett to 11
3. change target level to 17
4. Maven > Update Project --> Target JRE remains at 11

[2022-06-07 20:15] HannesWell commented on #249
Do you already have a plan how to replace the fetch of archetype-catalogs that is done in the import/create project dialogs?
Maybe it is maybe possible to query some Web/REST-API just like the LemMinX Editor does now to find dependencies?

[2022-06-08 03:35] laeubi commented on #249
This will still use Archetype directly I think, just in case, one could call `mvn archetype:generate` and that will present a list of all archetypes.

[2022-06-08 18:16] #731 closed

[2022-06-08 18:18] laeubi commented on #731
The m2e-core ui has now no more dependency on the maven archetype.

The fix for this issue was gently sponsored by [Faktor Zehn GmbH](https://www.faktorzehn.com).

[2022-06-09 08:43] HannesWell commented on #731
Thank you Christoph!
Just a link to the corresponding PRs #758, #762 and #763.

[2022-06-10 06:31] pzi-dsa commented on #743
I've updated my m2e installation after #765 was merged and I just got the following exception in the error log.

Good news: The additional logging is working as expected
Bad news: The problem still exists

[code]

So effectively, the same error as before.

I tried my hardest to reproduce the issue yesterday, but without success. But today, it showed up within minutes.
The only difference is that t

[2022-06-10 06:34] laeubi commented on #743
Any chance you can copy the offending jar and either upload or inspect its contents so we see whats wrong here?

[2022-06-10 06:38] laeubi commented on #743
Funny enough

[code]

is packed as `bundle` but without OSGi manifest headers :-1:

[2022-06-10 06:47] laeubi commented on #743
The Stacktrace is now even with m2e master code, that's also good :+1:

[2022-06-10 06:52] pzi-dsa commented on #743
That's the jar in question. But after a quick inspection, I didn't see anything out of the ordinary.

[trove4j-2.1.0.jar.zip](https://github.com/eclipse-m2e/m2e-core/files/8876424/trove4j-2.1.0.jar.zip)

On further notice, I noticed a similar but unrelated exception in my error log, after restarting. Which is completely unrelated to m2e.

Perhaps this is a Java bug, rather than m2e/Eclipse? Becaus

[2022-06-10 07:02] laeubi commented on #743
That's really interesting! Can you try a java including the fix?

[2022-06-10 08:05] pzi-dsa commented on #743
It's seems like Java 17.0.4 won't come out before July 19th. I'm not sure if I get to build it locally, today, given that I'm not available for the next 2 weeks. I'll get back to you, once I've tested it, though.

One a side note, does Tycho wrap its artifacts in a similar way? Because this has never been an issue in our Jenkins builds.

[2022-06-10 08:06] laeubi commented on #743
Tycho currently never caches an artifact but do it similar to m2e of course.

[2022-06-10 08:25] laeubi commented on #116
I think we can close this as *basic* support for extensions is there, and we would now need more specific tickets like
- #118

to further improve this.

[2022-06-10 08:25] #116 closed

[2022-06-10 08:26] laeubi commented on #119
It is now possible to import polyglot projects.

[2022-06-10 08:26] #119 closed

[2022-06-10 08:29] laeubi commented on #162
Repository index is no longer used in m2e

[2022-06-10 08:29] #162 closed

[2022-06-10 08:34] laeubi commented on #551
@HannesWell as the story about upgrade to latest archetype might require additional extensions to be loaded for maven runs:

How is the status here? Are we "safe" to adopt this class or do we need a CQ here? My plan is that we just have a `m2e.maven.ext` plugin inside m2e where we place such classes to be placed on the ext-classpath of a maven run then.

[2022-06-10 09:56] HannesWell commented on #551
Sorry I didn't have the time/got distracted to continue here.
Since those few classes are just used internally I think from a technological point of we are safe to adopt those classes within m2e. If there is work on a standalone workspace.cli that we should use we can still switch back to that at any time.
Regarding the CQ I cannot tell.

Is there a dedicated ext-classpath in Maven? Or is it just

[2022-06-10 10:02] laeubi commented on #551
I just wondering if you have opened one or I should do so.

In maven CLI, yes there is a special folder, for m2e might compute the classpath different.

One for all, we can simply enable/disable them if required by passing a system option.

Don't understand this, what do you mean by connection? if we need IPC then it will of course depend, e.g. one might simply write out relevant state to a file a

[2022-06-10 10:13] mickaelistria commented on #116
Yes, that's a good way forward, and it's great that we can say m2e now has (some) support for .mvn; it's a major achievement!

[2022-06-10 10:14] mickaelistria commented on #119
Awesome!

[2022-06-10 12:19] HannesWell commented on #249
Just like in #767 couldn't we replace the listing then by a similar launch of `mvn archetype:generate`, parse the output and present it to the user.
Since mvn archetype:generate is interactive maybe archetype:crawl would be better suited for that.

The plug-in page also shows how to handle alternative repositories:
https://maven.apache.org/archetype/maven-archetype-plugin/

Isn't that then everyth

[2022-06-10 12:23] HannesWell commented on #551
No I have not. If you can/want to do it, please go ahead.

Yes I was referring to IPC. That would work in some cases but in some cases would at least be not ideal. But yes it depends. :)

That would be bad, because then I couldn't use m2e anymore. But I was told that contrary to the name, Unix domain sockets also work on Windows. Maybe only Windows 10 and later but I assume that earlier versions a

[2022-06-10 12:23] laeubi commented on #249
We already use (internal) maven APIs in m2e I don't think we gain much in making a difference here and doing some parsing of data we can acquire at the first place.

There is a lot of stuff around the archetypes but we might reduce the number of jars actually required...

[2022-06-10 12:26] laeubi commented on #551
Stupid me didn't noticed that [we already have this imported](https://github.com/eclipse-m2e/org.eclipse.m2e.workspace) :-D

So it would just be a mater of merging it here.... and then archive the former one...

[2022-06-10 14:59] rombert opened #768 "pom.xml completion stuck"
I've seen this for a number of times, but since it did not seem to be resolved after the 2022-06 release I decided to report an issue.

When trying to use completions in the pom.xml editor the process never completes and seems stuck at '0 completed, 1 pending'.

![image](https://user-images.githubusercontent.com/21237/173091376-a5ba6ea8-3774-4c69-9f69-545c8b2864e5.png)

I did not notice something

[2022-06-10 19:53] digulla commented on #755
This might help: https://github.com/bsi-software/eclipse-settings-maven-plugin

For my use case, this is too inflexible: I need many different settings per project and sometimes, individual lists of settings per module, for example encoding settings for files.

[2022-06-10 19:57] digulla commented on #435
I did some research in this bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=564796

I was using a `revision` property in the POM so Eclipse would always see a fixed string.

For me, the main problem was that the revision would leak to dependencies.

[2022-06-10 20:00] digulla commented on #499
I think it would be better to delay the "try to resolve the dependency" until the POM is saved.

I'm also seeing that the editor hangs when I'm editing the version of parent POM, probably because the IDE tries to load the non-existing dependency in the UI thread. Or is that a new/different issue?

[2022-06-10 20:05] digulla commented on #499
Related: https://github.com/eclipse/lemminx-maven/issues/213

[2022-06-11 16:19] marco-brandizi commented on #768
Same for me with 2022-03. Moreover, I used to be able to `Cmd`-click on something like a dependency or `<parent>` block and have the corresponding POM opened. Another similar feature was clicking on a `${property}` and being directed to the point where it's defined (including parent POMs).

Now all of this has disappeared, despite having restarted a completely new workspace, Eclipse has become a b

[2022-06-12 22:44] HannesWell commented on #249
My main motivation was mainly to not pull in large dependency jars. So if we can avoid reduce the archetype-common dependency to `archetype-catalog` and `archetype-descriptor` only this would make a huge difference in the size of the resulting o.e.m2e.archtype.common jar (which should then actually be renamed).

After https://github.com/eclipse-m2e/m2e-core/pull/767 is completed it looks like the

[2022-06-13 10:32] mickaelistria commented on #755
@trandersen-ufst A pull request to add support for main flags directly in org.eclipse.m2e.jdt would be welcome.

[2022-06-13 10:38] mickaelistria commented on #435
@digulla m2e can set specific properties in `MavenExecutionContext.newExecutionRequest()` and those should be honored in most operations. So `revision` could be set here. However, can m2e dymically decide of a better value? How does CLI behave if `revision` is not set?

[2022-06-13 10:44] laeubi commented on #435
The revision (if used in traditional CI Friendly Versions) must either be defined in the POM as a default or always supplied via commandline.

[2022-06-13 10:48] mickaelistria commented on #435
OK, so not much magic m2e can add here?

[2022-06-13 11:01] laeubi commented on #435
We could think about two cases:

1. allow to configure a revision per project/module/...
2. allow to delegate that task to a "configurator"

I'm just not sure how useful it is, as the revision is generated from a CI build, so for development one would most of the time use jsut the default from the pom. At least m2e should be able to take the info from the `pom.xml` if present.

[2022-06-13 11:51] trandersen-ufst commented on #755
@digulla Looks like that plugin just unpacks files in the jar generated and stores them in the project without any further processing.  Not sure it will help here.

[2022-06-13 12:30] mickaelistria commented on #768
Can you please share some minimal configuration (pom.xml, Maven settings...) to reproduce this issue?

[2022-06-13 13:15] rombert commented on #768
I ran the tests with no Maven settings.xml . I could not reproduce the problem on a fresh workspace. I am not sure what can cause this kind of behaviour but I'm willing to try various things, in case anyone has ideas.

The pom.xml I used is from https://github.com/apache/sling-org-apache-sling-resourceresolver/ , but since it does not exhibit the problem on an empty workspace it probably does not

[2022-06-13 15:38] brbog commented on #747
Reproduced using following steps:
1. download eclipse-jee-2022-03-R-linux-gtk-x86_64: [Eclipse IDE for Enterprise Java and Web Developers](https://www.eclipse.org/downloads/packages/release/2022-03/r/eclipse-ide-enterprise-java-and-web-developers) - Linux [x86_64](https://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/2022-03/R/eclipse-jee-2022-03-R-linux-gtk-x86_64.

[2022-06-13 18:43] digulla commented on #435
I'll try to recollect my experience with this.

The goal of this feature is to allow an external source to decide the value of `project.version`. Usually, you can't change this after the POM has been read because a lot of stuff would break (like resolving child modules).

So what Maven did is they defined "revision" as a special case. If `project.version` is `${revision}`, then Maven will try to f

[2022-06-13 18:52] digulla commented on #755
I would think that the project should have a folder with overrides for various config files.

m2e should prepare the new config file (jdt, resources), then apply the overrides and then write the final result.

As step two, it should be possible define fine-grained overrides (level 2) on top of the previous per Maven coordinate (without version). That way, projects could define "I want properties f

[2022-06-13 18:52] digulla commented on #755
Feels like a DSL already ... ;-)

[2022-06-13 20:56] digulla commented on #755
I usually put all .settings files under version control (because a few plugins love to mess them up). That way, when Eclipse starts to act funny, I can usually quickly see the source of the problem with `git diff` and fix it with `git checkout`.

This works well for me but recently, I have met people who would rather die (or work somewhere else) before they would even dare to consider putting Ecli

[2022-06-13 22:12] marco-brandizi commented on #768
I've enabled the DEBUG level in the Eclipse log, but the only thing I could notice is:

[code]

Moreover, now I can occasionally get autocompletion for XML tags, eg, if I start typing `<dep`, it proposes me dependency, but after sometime it stops working again and shows "Computing proposals 0%".

I've never been able to click on a dependency, or on a `<parent>` and open the corresponding POM, a fe

[2022-06-14 07:45] trandersen-ufst commented on #755
I would not die for it, but I also strongly vote for not having IDE-specific files in git, for many reasons (I don't want to spend time on that soapbox today).  This is why things like editorconfig has arisen.

That said, I think that you should just bite the bullet with your technical debt.and convert your ISO-8859-1 property files to UTF-8.

I cannot change the code generator prompting the quest

[2022-06-14 08:25] trandersen-ufst commented on #755
@mickaelistria Would you (or if you know someone else who is familiar with JDT who would be willing to help) be able to add something very simple like "Set warning level for unused variables to INFO" or something like that (which is probably just a very few lines) so that JDT-novices like me have a template for how to do this?

[2022-06-14 13:49] mickaelistria commented on #755
I submitted https://github.com/eclipse-m2e/m2e-core/pull/773 which validates the general concept and adds support for `-[err/warn]:[+/-/]serial`. Please have a look whether it seems to be the right solution, and consider extending the list of supported flags.

[2022-06-14 20:54] mickaelistria commented on #747
Can you please try opening the Problems view and copying the error you mention? It's still not clear to me what they're sourced form, and some details of the specific project (eg type) will help.

[2022-06-14 21:42] mickaelistria commented on #721
Submitted #774 that can be merged as soon as CQ is approved..

[2022-06-14 22:45] brbog commented on #747
Problems view:
Description	Resource	Path	Location	Type
cvc-complex-type.3.2.2: Attribute 'child.scm.connection.inherit.append.path' is not allowed to appear in element 'scm'.	pom.xml	/xxx	line 16	Language Servers
cvc-complex-type.3.2.2: Attribute 'child.scm.developerConnection.inherit.append.path' is not allowed to appear in element 'scm'.	pom.xml	/xxx	line 16	Language Servers

Some details of the

[2022-06-14 23:06] brbog commented on #747
Maybe a helpful pointer. If you try to Ctrl+click on the xsd inside:
[code]
you get a dropdown asking whether you want to open the xsd from a local file or open the url in a browser.

When you open the url in a browser, then it opens the latest correct xsd. This made me believe that the validation actually uses the local file to avoid downloading from the internet all the time. I tried fixing this

[2022-06-15 04:34] laeubi commented on #249
We made a big step forward and moved everything to Archetype 3.x now, there is one little thing left to have an option to enable interactive mode (currently everything uses the batch mode).

[2022-06-15 04:55] laeubi opened #777 "Reference to undefined variable artifactId.concat(".")"
I got this when trying to run a Archetype Build:

[code]

[2022-06-15 05:01] laeubi commented on #777
This is cause by the following Archetype:

![grafik](https://user-images.githubusercontent.com/1331477/173740133-1b523371-d859-49f0-9edd-bfeba1943c81.png)

I think we should simply skip failed variable substitution here and use the raw value then.

[2022-06-15 06:15] #777 closed

[2022-06-15 07:25] trandersen-ufst commented on #755
I think that there are two ways to do this,

Either by having a dummy plugin containing m2e-options (which might be a general wish) or by parsing compiler arguments to the ecj compiler plugin.  This has the side effect that you can opt-out of ecj by not wiring it in the compiler plugin, while still getting the configuration bit with m2e.

[2022-06-15 09:39] laeubi commented on #249
This should now be possible, I can use the referenced faktor-ips archetype from the latest snapshot.

I'd like to give special thanks to [Faktor Zehn GmbH](https://www.faktorzehn.com) who gently sponsored this feature.

@hd42 please let me know if you see any further issues with using your archetype here.

[2022-06-15 09:39] #249 closed

[2022-06-15 10:42] fbricon opened #785 "Archetype generation uses system java, instead Eclipse's"
I tried #249 with the faktor-ips archetype, looks like my system was set to use Java 7 (due to prior testing). Archetype generation failed:

<img width="1340" alt="Screenshot 2022-06-15 at 12 37 57" src="https://user-images.githubusercontent.com/148698/173808473-b3bcc594-997e-41a8-b7ff-9256f648751f.png">

IMO it should have used whatever Java version is currently running Eclipse

[2022-06-15 10:45] laeubi commented on #785
Can you check `Preferences > JDK`  what is selected as the default JDK? I think that is what m2e uses.

[2022-06-15 10:54] fbricon commented on #785
Right, Java 7 was set as the default JRE. So it's easy to fix once you know it, but I think it'd be safer to use whatever JDK is running Eclipse, since it'll be 17 minimum now.
Not a high priority bug though.

[2022-06-15 10:59] laeubi commented on #785
@fbricon that is default behavior of the m2e launcher that the archetype uses internally, so would need to be a general change.

[2022-06-15 11:06] laeubi commented on #392
@tobias-hammerschmidt we have preliminary extension support now, do you mind creating a test-case for your issue we can use to check if/how this could be supported now?

[2022-06-15 21:22] digulla commented on #755
We're not using ecj, so I need a solution which can handle Eclipse options with the normal Java compiler.

In a next step, I would need something which monitors the prefs that I'm overriding and adds warnings in Eclipse when one of them was changed (so I can trigger a Maven Update to fix them again or, luxury version, get a quick fix to copy a fix into the POM).

[2022-06-16 00:00] mickaelistria commented on #755
What are the options for errors/warnings enablement in ecj? In any case, it seems possible to enhance m2e code to support those. PRs to achieve that are more than welcome.

[2022-06-16 03:53] brbog commented on #747
Updated to https://download.eclipse.org/technology/m2e/snapshots/latest/ and the validation errors are gone.

Thanks for the experience!

[2022-06-16 03:53] #747 closed

[2022-06-16 12:58] cyril-steimer opened #788 "Delay in startup on macOS"
Eclipse is sometimes very slow to start and stops for 5-10 seconds during the loading screen. `jstack` gave the following stacktrace:

[code]

[2022-06-16 14:32] digulla opened #789 "Running Maven plugins which work only with Java 8 as part of the Maven Project Builder"
I have an old project which uses jaxb2-maven-plugin. The verson we use only works with Java 8 (missing XML classes in 11 and up).

Since Eclipse 2022-06 (4.24) uses Java 17, I'm getting errors in the project since the plugin fails.

Is there a trick to get m2e to run the plugins with a different Java version than the IDE? Or do I have to upgrade jaxb2-maven-plugin? (I can't upgrade the whole proje

[2022-06-16 14:38] laeubi commented on #789
Not really, you can run the m2e maven build with a different java but not the plugin itself, as m2e is running "inside" eclipse

You should upgrade your **build** to run with java 11, the **project** can still be java 8.

[2022-06-19 10:55] HannesWell opened #793 "Protect master branch against direct push"
I just accidentally pushed to the m2e-core master branch directly instead of my fork's master branch.
Since I can push directly I was also able to revert that by force-pushing the master to the previous commit.

Nevertheless I think we should protect the master branch again direct push, just like the platform repos do.

@mickaelistria, @akurtakov, @laeubi do you have objections? IIRC we have to as

[2022-06-19 10:59] laeubi commented on #793
I won't need this directly but if it helps for something? On the other hand its sometimes useful (e.g. maintenance, update docs...).

Just for your incident, I always do this after cloning a repo:
`git remote set-url --push origin no_push`
that way you just get an error if you push by accident :-)

[2022-06-19 11:51] HannesWell commented on #793
This could still be done via a PR (which does not have to wait for a build to complete). But of course it can be more convenient to do that directly.
Maybe this is just one of the "With great power, ..." things.

Thanks for that hint. What also works to prevent accidents is to use a https URL instead of SSH, then (E)Git asks for login credentials which should be a reminder that it is the wrong rem

[2022-06-20 06:29] hd42 opened #799 "Archetype property-expansion is not performed and validationRegex is ignored"
We have an archetype ([faktorips-maven-archetype](https://mvnrepository.com/artifact/org.faktorips/faktorips-maven-archetype), mostly works now thanks to #249) that uses parameter replacement to calculate the default value of a property, which works fine when executing the archetype on the command line, because the properties are evaluated one after the other. In Eclipse, the GAV-coordinates and a

[2022-06-20 06:34] laeubi commented on #799
@hd42 thanks for reporting this, I think these are missing feature at the moment, I'll take a look at it.

[2022-06-20 07:38] mickaelistria commented on #793
+1, I find this allows much better tracking, avoid errors, and encourages collaboration.
@fbricon is the one who can switch the toggle I believe.

[2022-06-20 09:56] fbricon commented on #793
Nope, you need to ask the Eclipse IT team

[2022-06-20 11:39] trandersen-ufst commented on #755
The warning options are described in the ecj manual page  at https://www.mankier.com/1/ecj - I do not know if it is official or not.  They link to https://help.eclipse.org/topic/org.eclipse.jdt.doc.user/tasks/task-using_batch_compiler.htm at the end, which ends in the Eclipse help system.  Search for "Warning options".

I now had a closer look at the `-properties <file>` option, which appears to b

[2022-06-20 12:09] trandersen-ufst commented on #755
I am not familiar with the internals.  What does this sentence mean?

[2022-06-20 12:13] laeubi commented on #755
If there is a `.settings/org.eclipse.jdt.core.prefs` [Tycho](https://github.com/eclipse/tycho/) uses that file as well to configure the compiler. So sharing this config file with eclipse<->maven seem better that encoding it somewhere and then ask m2e to convert to, because it then won't work e.g. in a Tycho setup.

[2022-06-20 15:54] laeubi commented on #799
Regexp are now checked.

For the properties expansion it is a bit more complex, as you said, the Archetype Generator assigns values step by step and evaluates the value using Velocity.

I see two options:

1. If there is an expression to evaluate we simply remove it from the wizard and let the user enter it on the commandline
2. we try to embed velocity (again) even though @HannesWell recently rem

[2022-06-20 18:51] tomsontom opened #803 "${project.build.outputDirectory} not available to maven-plugins when running inside m2e?"
As I did not get a response I think the worst that can happen is that this is a none issue

### Discussed in https://github.com/eclipse-m2e/m2e-core/discussions/790

<div type='discussions-op-text'>

<sup>Originally posted by **tomsontom** June 17, 2022</sup>
Before fileing a ticket I wanted to make sure that this is really a bug (I haven't written a maven-plugin before). In my Maven-Mojo i have:

[2022-06-20 19:05] hd42 commented on #799
@laeubi I don't think that option 2 can handle all options, so some variant of option 1 would probably be better. Either (a) silently remove any property containing an expression for its default value, so that it has to be entered on the command line, or (b) keep it and just remove the default value, maybe adding a comment, why there is no value and maybe even presenting the expression as a toolti

[2022-06-20 20:32] HannesWell commented on #799
I'm currently not familiar enough with the topic to say what a good solution for the problem is, but if embedding more artifacts is necessary just remove the corresponding exclusion. As long as it is not `groovy-all` or `ivy` trying hard to avoid them is IMHO not necessary.

[2022-06-20 21:30] digulla commented on #755
My requirements:

- Allow to specify a set of Eclipse options for each plugin in the POM to put important options under version control.
- m2e should use those options when configuring the projects
- If those options diverge (broken plugin or manual change in the UI), there should be a warning. Optional: Quick fix to undo the change or merge it into the POM.

I was wondering whether we can start w

[2022-06-20 21:55] mickaelistria commented on #755
Why necessarily "in the pom" if you can already have an extra setting file that would configure both build and IDE consistently?

[2022-06-20 22:26] digulla commented on #755
There are two issues that cause pain for me.

One is that there are people who think that you should never, ever put IDE settings under version control because it's an obviously stupid idea that no professional developer would consider. I'm still looking for an argument to convince them but since I'm wrong to begin with, well ... yeah.

The second problem is that several Eclipse plugins have bugs

[2022-06-20 22:30] HannesWell commented on #803
Just for clearification, the value of the `outputDir` is null?
@laeubi you have done a lot of work with maven executions in the past. Can you say if this a bug or intended?
Or could it be that the lifecycle-mapping-metadata are not set up correctly?

@tomsontom you could also debug the execution of your plug-in? You can use the Oomph setup for M2E to set up a development environment and then launc

[2022-06-20 22:32] tomsontom commented on #803
Yes outputDir is null.

[2022-06-21 04:13] laeubi commented on #803
Most probably a bug, I can't think of that one want this behavior, https://github.com/eclipse-m2e/m2e-core/issues/622 might be the same root cause.

[2022-06-21 04:25] laeubi commented on #755
Maybe these people can the contribute to m2e? Just an idea ;-)

Beside that, if this is crucial to your business, but doing it yourself or any other employee of your company, you can still pay someone to do it on your behalf, for example I offer such Open Source Development, for specific features/bugfixes (or  [you can sponsor me](https://github.com/sponsors/laeubi) in general to support m2e devel

[2022-06-21 04:44] laeubi commented on #803
@tomsontom by the way does the name "SCRGenerateMojo" indicate you want to generate DS component xmls? Just wanted to let you know that Tycho already can handle this now (as well as bnd) so just in case...

[2022-06-21 04:45] laeubi commented on #803
What about `protected MavenProject project;`? Any difference if you make the file field also `protected`?

[2022-06-21 06:32] laeubi commented on #799
The fix for this should appear shortly in the snapshots.

This issue was gently sponsored by [Faktor Zehn GmbH](https://www.faktorzehn.com).

[2022-06-21 07:01] tomsontom commented on #803
well yes but in a bit different way (the xml part is already handled by bnd) what I generate is java code who is used by a custom service registry who allows me to use DS-Services in a default java-env.

[2022-06-21 07:07] laeubi commented on #803
YOu might want to take a look at https://sling.apache.org/documentation/development/osgi-mock.html#implemented-mock-features-1 even tough it says it is a mock framework it support creation of DS components in standard java context and I already use this to emulate OSGi in some Tycho places :-)

Probably it would even be good to have such a OSGi-Polyfill as a generic project.

[2022-06-21 07:41] fbricon commented on #785
I think it would be good to have that behavior documented somewhere

[2022-06-21 08:32] mickaelistria commented on #803
I second @laeubi 's question from https://github.com/eclipse-m2e/m2e-core/issues/803#issuecomment-1161262051 . It could be that the context is not fully populated by m2e. At least if project is set, we know we can remediate it.
Is anyone aware of the code in Maven that generate all those properties from context/session? m2e might just need to call it before invoking the mojo.

[2022-06-21 08:39] laeubi commented on #803
@mickaelistria this is most probably a `org.codehaus.plexus.interpolation.RegexBasedInterpolator` using a `org.codehaus.plexus.interpolation.ObjectBasedValueSource` thats why I wonder if the project is injected, then it should work for the other field as well:

`${project.build.outputDirectory} --> project.getBuild().getOutputDirectory()`

so maybe the setup of the mojo execution is not complete h

[2022-06-21 08:49] tomsontom commented on #803
well my solution works even in a JPMS and AOT world - if one resides to reflection you have to open your in module in a JPMS world for reflection and in an AOT world you need to provide the information to Graal so that it is not missed in the closed world analysis both possible but not the nicest things but we get off-topic.

I'll see what happens if I make the file protected but I doubt that woul

[2022-06-21 10:02] tomsontom commented on #803
So I've now tried to reproduce this again - and today everything works like a charme no matter if I use `private` or `protected` it just works. So I'm closing this one as it looks like it was something in my setup causing that problem.

[2022-06-21 10:02] #803 closed

[2022-06-22 08:48] #799 closed

[2022-06-22 08:50] laeubi commented on #789
By the way it should be possible to add missing stuff to the `<dependency>` section of the plugin

[2022-06-22 08:50] #789 closed, assigned to nobody

[2022-06-23 11:48] trandersen-ufst commented on #755
This is going off in multiple directions.

@digulla I don't think that what you need goes well with what I need and opened this for - namely just the compiler settings, which apparently there might be a simpler pragmatic solution for - and I think it would be more appropriate that you open your own enhancement request because I think that it will need a lot more work, especially if you start mixin

[2022-06-23 12:00] laeubi commented on #755
I'm not really get why a "pom encoded" file is less prone to "break" than an (external) text-file? If there are "bad" plugins, then they will mess with them anyways I fear.

[2022-06-23 19:35] trandersen-ufst commented on #755
@laeubi To my understanding `.settings/org.eclipse.jdt.core.prefs` contains ALL the settings for jdt.core, and those not present will be added to the set (which might even be rewritten in random order).  This mean that if I start with my own "A=b\nC=d" file, it is rapidly not that anymore.  (I did not confirm this right now, so this is by memory - I hope I remember correctly :) )

If it is not so

[2022-06-24 09:12] mickaelistria opened #816 "Document connector migration guide"
As 2.0 changes API, most connectors are likely to fail now. If we cannot avoid that, we should at least capture information about how to migrate and build a minimal migration guide from it.
Some related changes:
* https://github.com/mickaelistria/tesla-m2eclipse-mavenarchiver/commit/e4e68c75f5f2434e0c634626c7e40e6ab91aaa6f

[2022-06-24 20:58] digulla commented on #755
@trandersen-ufst, @laeubi  When you run "Update project", m2e will recreate all .settings files - compiler, resources, WST, etc.

That's why the solution needs to work for at least all "key=value" type settings files. We can start with JDT but it doesn't make sense to build something that works just for that and nothing else.

The poc in https://github.com/eclipse-m2e/m2e-core/pull/773 is too narr

[2022-06-26 21:58] karypid commented on #248
Hello,

I am experiencing the issue described here. Is anyone working on this? How hard would it be to fix? I occassionaly contribute to Eclipse (especially for obscure bugs I am facing) but have a feeling that this may be something engrained into the way m2e works and not suitable for someone like me to pick up....

I have a feeling that the maven POM resolution executes with the embedded maven r

[2022-06-27 05:09] laeubi commented on #248
The best way is to setup an IDE and start debugging the code, if there are specific questions let us know.

[2022-06-28 15:05] irbian opened #823 "Bug 507195 - M2E not properly resolving web-deployment assemblies for JAR projects with classifiers"
Hi!

I have found we have been affected by this bug https://bugs.eclipse.org/bugs/show_bug.cgi?id=507195 for a long time

We are using now:

  M2E - Maven Integration for Eclipse (includes Incubating components)	1.20.1.20220227-1319	org.eclipse.m2e.feature.feature.group	Eclipse.org - m2e
  Eclipse IDE for Java Developers	4.24.0.20220609-1200	epp.package.java	Eclipse Packaging Project

[2022-06-29 08:38] martin-neuhaeusser opened #826 "Discovery catalog for Eclipse 2019-09 points to incorrect URL"
Eclipse 2019-09 (Build id: 20190917-1200) fails to update the catalog under `Windows` -> `Preferences` -> `Maven` -> `Discovery` -> `OpenCatalog`.
The (hard coded?) URL that it is trying to use is https://download.eclipse.org/technology/m2e/discovery/directory-1.12.xml. That XML file contains a link to https://dl.bintray.com/m2e/discovery-catalog/org.eclipse.m2e.discovery.oss-catalog-1.13.jar, whi

[2022-06-29 08:41] #826 closed

[2022-06-29 08:57] martin-neuhaeusser commented on #826
Thanks for the explanation. Is there any way to update the m2e release in Eclipse 2019-09?
Or does that force me to use a newer version of Eclipse, effectively breaking the project I am working on?

[2022-06-29 08:59] mickaelistria commented on #826
I don't know. Try and see by yourself ;)

How is it breaking?

[2022-06-29 09:04] martin-neuhaeusser commented on #826
I have an outdated research prototype of a verification tool \url(Ultimate Automizer)[https://github.com/ultimate-pa/ultimate] which heavily relies on the Tycho connector, Java 1.8 and Eclipse 2019-19 to build. Following the build instructions from 2019 requires to install that connector via the m2e catalog, which has gone.

[2022-06-29 09:50] pzi-dsa commented on #743
I've installed one of the recent [nightly builds](https://adoptium.net/de/temurin/nightly/) of Java 17.0.4 and the problem still shows up.

Given that this primarily happens when I'm using my VPN connection, perhaps this really is just a network problem where the file gets corrupted during the download.

[2022-06-29 09:59] laeubi commented on #743
I'm just wondering why a refresh do not work? Maybe we could/should enable maven to check the file signatures here (md5/sha)?

[2022-06-29 10:01] pzi-dsa commented on #743
That was my idea, as well. Just to double-check whether this is actually the problem.

[2022-06-29 11:54] martin-neuhaeusser commented on #826
@fbricon Thank you so much!
Your suggestion indeed helped. I only had to use directory-1.14.xml instead of directory-1.13.xml and was able to install the Tycho Configurator.

[2022-06-30 09:45] laeubi opened #827 "Problem with macen archiver on project refresh"
I'm currently integrate the test for maven archiver but one (existing) fails now because it seems there is a bug in the mavenarchiver but I don't understand what has to be changed here:
[code]

Can someone take al look at the code in `AbstractMavenArchiverConfigurator.mavenProjectChanged` and maybe adjust it? It seems somehow the path is not constructed correctly in `org.eclipse.m2e.mavenarchiver.

[2022-06-30 22:40] HannesWell commented on #827
The problem is that in `BuildPathManagerTest.test431080_flatDirectoryLayout` the project being build (`projects/431080_flatDirectoryLayout/pom.xm`l) has a flat layout:
[code]
Which has the consequence that the `IMavenProjectFacade.getOutputLocation()` returns a path with only one segement, the project name. But all children of the workspace-root are `IProjects`. So one either needs a path with at

[2022-07-01 04:21] laeubi commented on #827
Great do you think we should apply your cleanup just right now? Or merge the tests "as-is" and then fix them with your cleanup? Or something in between by applying the fix for flat projects first?

[2022-07-01 06:14] HannesWell commented on #827
At the moment I have a dedicated commit in that PR to fix this issue. Since it would have to be applied at multiple locations when done before the clean-up I suggest to keep it after the clean-up commit. Furthermore the clean up is not flawed if the bug was there before and the tests are ok as well since its a bug that has to be fixed in m2e-core.
Long story short: I suggest we (or you?) merge the

[2022-07-01 07:19] #827 closed

[2022-07-02 12:30] HannesWell opened #830 "Provide Maven-Plugin to generate M2E lifecycle-mapping-metadata"
For Plug-in developers that want to make their Maven plugins 'M2E-ready' it would be convenient to provide a Maven Plugin to generate a `META-INF/m2e/lifecycle-mapping-metadata.xml` automatically during the build for all Mojos of the plug-in

This plugin should
- Scan the Maven-plugin being build for Mojos and ensure that for each mojo a mapping is specified, warn/error if not
- Provide a convenie

[2022-07-02 18:01] HannesWell commented on #830
The specification how a Mojo should be treated by M2E (ignored, executed, ...) could also be done via a corresponding annotation in the mojo-class.
Either lifecycle-mapping-metadata generator plugin could process them and generate a corresponding xml file or they could even be retained at runtim so that m2e can inspect the class for such annotation, which would make the xml file generation obsolet

[2022-07-02 20:28] HannesWell commented on #830
For my work on https://github.com/eclipse/tycho/issues/945 I created the following very simple `LifecycleMappingGenerator` application.
It is not very sophisticated (it can only apply the same action for all mojos) and contains some very hacky parts (String-manipluation to resolve constant-expressions, constant paths) but at least it worked for the task mentioned above.

[code]

[2022-07-02 20:50] HannesWell opened #831 "Migrate M2E documention to GH wiki"
At the moment some documentation of M2E is provided at https://www.eclipse.org/m2e/documentation/m2e-documentation.html
I think it would good to migrate that documentation into M2E's Wiki at GitHub and to update and extend it.

In general the documentation could be split into the following parts:
- for Maven users
Useful information for ordinary Maven users in the Eclipse IDE using M2E, tips&trick

[2022-07-03 04:32] laeubi commented on #830
If you like to do this a bit less "hacky" all maven plugins contain a `META-INF/maven/plugin.xml` (generated during the maven build) that contains all mojo with ther corresponding data.

[2022-07-03 06:37] HannesWell commented on #830
Thank for that hint. Yes if this becomes reality I already thought that the information about the available goals has to be retrieved from a more reliable source, just like that. This also makes it simpler.

In general, what do you think about the suggested alternatives to use annotations (that are maybe even retained at runtime)?
If annotations are provided, they probably have to go into a dedica

[2022-07-03 06:51] laeubi commented on #830
Annotations are great, but I think we still need the XML because loading the XML is easy but loading the class itself might becomes problematic. also if we choose to retain them in the runtime, we enforce plugins to keep a runtime dependency on the annotations (just keep in mind that Maven plugins are not only executed inside m2e). So I think the best would be to have class or source retention pol

[2022-07-03 09:30] mickaelistria commented on #831
-1 for using yet-another-wiki. All experiences I've had with wikis have demonstrated they become too easily outdated, of low quality (because they don't promote review before merge), and hard to track who actually contributes to project.
I prefer much having a `documentation` folder at the root of the project, and maybe publish it to GitHub sites or something else if browsing sources is not suffic

[2022-07-03 11:10] laeubi commented on #831
Why not using GH-Pages at the first place? https://pages.github.com/

Also the mentioned docs are rather "static" so having it at the wiki (witch you can also checkout/edit with git), might be equally appropriate and might be more accessible to the usual user.

[2022-07-03 14:47] HannesWell opened #833 "Migrate M2E Connector discovery catalog (generator) into this repo"
At the moment the m2e-(connector-)discovery-catalog is hosted and controlled at https://github.com/takari/m2e-discovery-catalog.

It would be beneficial if we migrate this catalog to this repo (or at least the repo into the eclipse-m2e organization) and generate/publish it as part of the regular m2e-snapshot/release build.

Furthermore multiple different entries of https://download.eclipse.org/tec

[2022-07-03 14:55] HannesWell commented on #831
Actually I don't care where the doc is located in the end.
It just should be one place that is easily accessible for m2e committers and also allows others to contribute easily. This does not seem to be the case for the current website.
That being said I agree with Mickael that it would be good to modify the content via PRs, which allows discussions about changes and at least informs others about c

[2022-07-03 19:40] HannesWell commented on #830
OK, yes that makes sense. Then we should stick with the XML.
Just for clarification, my actual intention is to write a Maven-Plugin for that. The posted OSGi application was just a workaround/reference for my work in M2E. Most of it can probably done better. So yes the plan is to generate that during build and to obtain as much information possible from Maven directly instead of coding that myself

[2022-07-04 03:52] gnl42 commented on #205
Still seeing this problem with 2202-06

[2022-07-04 04:24] gnl42 commented on #205
Also ctrl-shift-c (comment) makes a mess of if

[2022-07-04 08:57] mickaelistria commented on #205
There have been some major improvements in LemMinX lately regarding formatting. It will take a bit of time for those change to be included in Eclipse Wild Web Developer and m2e unless someone is willing to work on that topic; but this will eventually get better when adoption of newer LemMinX is complete.

[2022-07-04 22:39] karypid commented on #248
So, I was looking at this from a pure-maven perspective:

In official documentation for [Compiling Sources Using A Different JDK](https://maven.apache.org/plugins/maven-compiler-plugin/examples/compile-using-different-jdk.html#) they literally suggest to fork when running the compiler.

So not sure if anything can be done on m2e side to support this...

[2022-07-05 00:05] karypid commented on #248
Some information after debugging to find the relevant code paths:

- The exit point from m2e code when resolving locations was modified recently and lies in [MavenExecutionContext](https://github.com/eclipse-m2e/m2e-core/commit/aa98a699e27ddaf5eed8a03e01817e8d07723a6c#diff-796a271293c65b5cac9c04a4dccddff344e43fd10f474a5cd2992c2333325704R294) where the call to `ensureDependenciesAreResolved` actuat

[2022-07-05 00:30] karypid commented on #248
Apologies for the screenshot, but it seems that the interpolator uses a list of ValueSource objects. The one that resolves is at index 6 in the screenshot, which seems to contain all the calculated maven properties (env.ENV_VAR_NAME, system properties, etc).

I don't know if it's a system property that populates this value source, but overwriting java.home at this point to match the Eclipse projec

[2022-07-05 00:52] karypid commented on #248
Ok, so INDEED we can control system properties value source from m2e side. As a proof-of-concept, I changed `org.eclipse.m2e.core.internal.embedder.MavenExecutionContext.populateSystemProperties(MavenExecutionRequest)` to:

[code]

Now my project "works" in that (as you can see in my runtime workspace) my Eclipse is running with JDK 17 in `temurin-lts-jdk` directory, whereas the project behind my

[2022-07-05 01:00] karypid commented on #248
To clarify, it would look something like this::

[code]

[2022-07-05 05:39] gnl42 commented on #205
One way or the other I've tried it out every since it started showing up as an option, and every time I've replaced it with the "old" version since it was too broken.

I don't understand why it is offered as an option when it is not ready for prime time ? And why it is not described as the 'buggy beta version'?

[2022-07-05 06:03] laeubi commented on #248
m2e do not compile the code, JDT does ...

we should not add any preference for this or will end up with a swtich for every request. The MavenExecutionFacade would be the place where we know the project and could get its JDK (possible needing some kind of extension point...)

[2022-07-05 11:54] CarlosMOGoncalves commented on #768
Hello,
I would just like to second this issue.
There has been some instability since the older editor was replaced by the current one.
I am confident it was a good move, but it still has some issues. I have the exact same issues as reported above very frequently.

Sometimes it won't show any info when hovering over a dependency. Some other time I will CTRL-Click on a dependency to check its POM an

[2022-07-05 12:03] mickaelistria commented on #768
@CarlosMOGoncalves Please report individual issues for seprate problems.

[2022-07-05 16:28] CarlosMOGoncalves opened #839 "TimeoutException thrown when hovering over dependencies"
# Description #

On the very first time I open Eclipse and try to hover over a dependency, it throws a `java.util.concurrent.TimeoutException`.
Sometimes it keeps throwing that exception a couple more times until it somehow overcomes it and works normally.

## Expected Outcome ##

Well, by throwing that exception it won't draw the tooltip with the dependency version.
So I expect it to work properl

[2022-07-05 17:02] CarlosMOGoncalves opened #840 "Editor won't display info or allow for navigation in dependencyManagement"
# Description #

When hovering over a dependency which has its version written as replacement variable which in turn has its value in the `<properties>` element of a pom and that dependency is inside the `<dependencyManagement>` element, the editor won't display any information regarding it.

Further, it won't allow navigation to the given POM using `Ctrl+Click`.

This won't happen if the dependen

[2022-07-05 17:13] CarlosMOGoncalves opened #841 "Suggestion: display version on info tooltip for dependencies with inherited version"
# Description #

Hovering over a dependency element could display information about the actual version being used on the current pom.
This is specially useful when we have a lot of **provided** or **inherited** dependencies, to quickly check which version was actually inherited.
We can always `Ctrl+Click` to navigate towards the matching pom, but it's not as practical, specially if we are browsing

[2022-07-05 17:16] mickaelistria commented on #841
Requires https://github.com/eclipse/lemminx-maven/issues/238

[2022-07-05 17:23] CarlosMOGoncalves commented on #840
Hello @mickaelistria ,

I have left a sample project from my Github.
It contains the needed pom.xml for those reproducing instructions.

[2022-07-06 07:50] karypid commented on #248
I had a look at defining an extension point in the core plugin using the following interface:

[code]

I was able to implement and contribute this in the m2e-jdt plugin so this seems like the way to go. But while working on this approach, I ran into another problem:

- In [deprecated code path](https://github.com/eclipse-m2e/m2e-core/blob/1.20.1/org.eclipse.m2e.core/src/org/eclipse/m2e/core/intern

[2022-07-06 07:56] laeubi commented on #248
I think it might be more generic to have `IMavenExecutionRequestInitializer ` this could even be useful for other approaches!

An execution context is usually not shared between different projects and is used to execute one project at a time.

[2022-07-06 08:24] CsCherrYY opened #842 "Java version mismatch between JRE_CONTAINER and targetPlatform in M2E 2.0.0"
steps to reproduce:

1. given sample project: https://github.com/mybatis/mybatis-3.git
2. open it in VS Code, with redhat.java extension 1.8.0 installed (which integrates m2e 2.0.0 snapshot).
3. after project imported, VS Code reports an error in `Item` record under package `org.apache.ibatis.submitted.record_type`.

as we know, record should be available in Java 16 but not in Java 8.

4. check th

[2022-07-06 10:43] mickaelistria commented on #842
Can you please provide steps to reproduce with plain Eclipse m2e? Or even better, as a unit test for org.eclipse.m2e.jdt.tests ?

[2022-07-06 10:59] karypid commented on #248
Thanks. I will toy with the simple initializer listener approach after work and revert back with a PR (or more questions if there are issues).

[2022-07-06 14:55] lbeuster commented on #429
As a workaround uninstall the default pom editor (LemMinX) and install the legacy one (something like "POM Editor (Legacy) using WebTools..."). With the old editor some basic feature work again for me, e.g. "Open Declaration".

[2022-07-06 15:44] mickaelistria commented on #840
I think this is already fixed in snapshots and I cannot reproduce it. Can you please try installing latest m2e from https://download.eclipse.org/technology/m2e/snapshots/latest/ and report whether this fixes your issue?

[2022-07-06 15:48] rgrunber commented on #842
I am able to reproduce with :

Version: 2022-06 (4.25)
Build id: I20220704-0600
M2E - Maven Integration for Eclipse	2.0.0.20220705-1608	org.eclipse.m2e.feature.feature.group	Eclipse.org - m2e

This does not occur with the 1.x m2e :

M2E - Maven Integration for Eclipse (includes Incubating components)	1.20.1.20220227-1319	org.eclipse.m2e.feature.feature.group	Eclipse.org - m2e

I just had to add a

[2022-07-06 15:58] mickaelistria commented on #842
@rgrunber do you think you could turn this example into a test case for org.eclipse.m2e.jdt.tests?
@kwin any idea which part of the code too look at, that could be causing this inconsistency?

[2022-07-06 16:08] mickaelistria commented on #429
I have fixed TM4E so the Ctrl+Shift+C shortcut is now working again for files like pom.xml. Please install latest version from https://download.eclipse.org/tm4e/snapshots/ and try again.

[2022-07-06 16:18] CarlosMOGoncalves commented on #840
You are right @mickaelistria ,
I installed the snapshot for **POM Editor using LemMinX** and it is indeed **working perfectly**.
Many thanks Mickael, this can be closed.

However, risking stretching your help a bit further let me just ask you one thing:
I didn't install the complete bundle of modules within the update site you sent because somehow Eclipse would unistall Payara Tools and some other

[2022-07-06 20:07] HannesWell commented on #840
If you select the option at the bottom "Show original error and build my own solution" it shows a detailed description of probably conflicting dependencies from which your question can hopefully be answered.

But my first guess is, that thos Features have plug-ins that require m2e below 2.0

[2022-07-07 00:04] CarlosMOGoncalves commented on #840
Hi @HannesWell
and thanks for the answer.

I think you would be right, this is what I see then

![image](https://user-images.githubusercontent.com/2636004/177662148-899383c4-f1f4-4b60-912a-6d040ea477c5.png)

From what I get Maven JPA configurator needs org.eclipse.m2e.core below 2.0.0.
However, I see no mention to those first components JAX-RS, JSF  and to Payara Tools.
Are those details not compl

[2022-07-07 08:22] mickaelistria commented on #842
And why does this return 16 here?

[2022-07-07 08:32] kwin commented on #842
All mojo executions are considered at https://github.com/eclipse-m2e/m2e-core/blob/8b876a6748d8858578ee5894c40a872affc0e052/org.eclipse.m2e.jdt/src/org/eclipse/m2e/jdt/internal/AbstractJavaProjectConfigurator.java#L612 and the last one actually wins (i.e. determines the compiler options).

[2022-07-07 08:36] sridhark27 opened #844 "Oxygen issue in JRE build"
We are working on Sprint Boot in eclipse IDE Oxygen 4.7.3a with RTC Client v6.0.5

RTC - code repository where we keep our code base

The problem is whenever we do Right click Project > Maven > Update Project (Force Update of Snapshots/Releases)

JRE System Library is downgraded to J2SE-1.5 from Workspace default JRE (java-11-openjdk)

It makes us to fix Java build path again to openjdk-11 manuall

[2022-07-07 08:41] mickaelistria commented on #842
OK, so that's probably the root cause of the bug. The test executions should be skipped.

[2022-07-07 08:43] kwin commented on #842
Not sure, if maven-enforcer enforces a lower version, but you have a profile (conditionally activated) setting the target of the compiler (not only for test) you also run into this issue. So in general the JRE container should be the highest one from the different parameterisations.

[2022-07-07 09:08] mickaelistria commented on #844
Only latest release is supported. Please try it.

[2022-07-07 09:08] #844 closed

[2022-07-07 21:36] karypid commented on #248
I wired the JDT plugin to the core plugin (short-wired is probably more appropriate) and I am now able to overwrite system properties whenever an execution context is created.

I have however come up against a chicken-and-egg situation. To descire the proper value for `java.home` I need to know the JDK from the Java project. But this is set by the m2e-jdt plugin  in method [addJREClasspathContaine

[2022-07-08 01:56] CsCherrYY commented on #842
@mickaelistria In this way, IIUC both the project's compliance and the JRE container of that sample project would be set to 1.8 since only the default compilation considered, right? And can we do something with the tests in source level 16?

[2022-07-08 04:04] laeubi commented on #248
I think it would be best if you could open a PR with your current code changes, that way one might give much better guidance to your problem.

[2022-07-08 07:07] #585 closed

[2022-07-08 08:26] mickaelistria commented on #842
Yes.

No. JDT cannot be configured to compile the sources from a given project with different compiler options (eg source level). Changing that would require a fair amount of work in JDT, to move the various options from project-scope only to source-folder scope. Then, when JDT can do it, m2e can leverage it.

[2022-07-08 22:00] karypid commented on #248
So, I've pushed a branch in my fork to discuss. See: https://github.com/eclipse-m2e/m2e-core/pull/846/files

Basically the only reason this works is because I clear the initializer while it is running and restore it after it has run. Therefore, when the initializer itself creates a maven execution context for the purpose of resolving the maven-compiler-plugin version, that particular maven executi

[2022-07-09 09:06] karypid commented on #248
@laeubi I've tried to use the declarative service approach (not familiar with these) so I've pushed a separate PR at https://github.com/eclipse-m2e/m2e-core/pull/847

The problem is that I am doing something wrong and this causes m2e-jdt to fail to activate. What I did was:

1. Enable DS Annotations in project `org.eclipse.m2e.jdt`
2. Expose a service from MaventJdtPlugin
3. Reference the service

[2022-07-09 09:57] laeubi commented on #248
Don't use the static access with DS, you can simply do

[code]

and everything will be handeled auto-magically.

[2022-07-09 11:28] HannesWell commented on #840
Yes you are reading it right and it looks like the details are incomplete.
But my strong guess is that the ones not mentioned depend on the JPA configurator. But you can check the 'manually'.

[2022-07-09 11:41] karypid commented on #248
So, I did this but it still throws the NPE.

Looking around I found that the references seem to need XML definitions in OSGI-INF/<component>.xml. There are missing from the m2e-jdt plugin's  generated XML (even though I enabled DS Annotations with version 1.3). Any idea what I have  wrong?

What is missing is this sort of content:

[code]

[2022-07-09 11:45] karypid commented on #248
Scratch that, adding `@Component` to MavenJdtPlugin fixed this but I still get the NPE. Will push an update now.

[2022-07-09 13:44] karypid commented on #248
So the final fix for the declarative service was to stop implementing the Bundle start/stop methods and instead use `@Activate` and `@Deactivate` in the `MavenJdtPlugin` class.

I have pushed a PR that works and is more in line with @laeubi  instructions, but please see my own review comments as I still need help here.

[2022-07-09 17:59] laeubi commented on #248
@karypid Good to see you making progress here, I'll try to review your code tomorrow in more detail.

[2022-07-10 20:16] mickaelistria commented on #840
Please try installing newer connectors from https://ci.eclipse.org/m2e/view/m2e-wtp/job/m2e-wtp/job/master/7/artifact/org.eclipse.m2e.wtp.site/target/repository/

[2022-07-11 05:48] CsCherrYY commented on #842
Yeah, and I'm thinking since JDT use the same compiler option for a project, why not use the highest version between them, as @kwin 's new proposal?

I can imagine that if we set the source compiler level of the project to 1.8, users will encounter errors about `record` in tests. While if we use the higher of them (16), it can solve this issue and no further compiler error will appear (since langu

[2022-07-11 06:17] laeubi commented on #842
I don't think that it needs to be that complex, JDT already distinguish between "main" and "test" sources and even classpath entries and seem to compile them differently, so it seems possible to even use a different compiler level then for test sources.

[2022-07-11 06:35] kwin commented on #842
At least via UI that option is not exposed in Eclipse and having some options for compilation which are not exposed in UI calls for trouble as there is too much magic in it then.

[2022-07-11 06:41] laeubi commented on #842
I don't think it is currently possible, just not that we need a setting per source folder as indicated by @mickaelistria

Compiling code with higher JVM level could also be a source of problems as it might "leak" into your Java 1.8 code.

[2022-07-11 07:45] CsCherrYY commented on #842
AFAIK JDT indeed distinguish these two sources but can't use different options to compile them, and only compiler prefs such as "org.eclipse.jdt.core.compiler.compliance" can be found. @laeubi could you please explain a little bit?

@mickaelistria what do you think of this?

[2022-07-11 07:50] laeubi commented on #842
JDT needs to be enhanced to have e.g. `org.eclipse.jdt.core.compiler.test.compliance` ...

[2022-07-11 10:09] HannesWell commented on #157
FYI: #850
But please keep in mind that this is internal and the System property may be removed at any time if it is not necessary any more.

[2022-07-11 11:38] #840 closed

[2022-07-12 11:10] pzi-dsa commented on #743
A short update: I compared sha-hash of the original artifacts with the hash in the .sha1 file. Both are identical, so the original jar is valid. I somewhat expected this since otherwise, the bndtools library would most likely thrown an error when patching the Manifest.

[code]

I then wrapped the call to `new MavenTargetBundle(...)` in a try-catch block, where I call FileUtils.forceDelete() whenev

[2022-07-12 18:33] kjsmita6 opened #854 "Ignore lifecycle configuration dialog too small"
When you select the quick-fix for "Plugin execution not covered...", and select "Mark goal as ignored in pom.xml, the popup looks like this:
![Screen Shot 2022-07-12 at 2 28 00 PM](https://user-images.githubusercontent.com/9405706/178567706-97c59b35-f34c-4cf0-838d-5b6537dfef58.png)

And the location to ignore isn't visible at all. It can still be selected but I could not determine any way to make

[2022-07-14 20:30] mickaelistria commented on #854
Would you be willing to submit a patch the fixes that?

[2022-07-17 03:12] kjsmita6 commented on #854
![5ab7d599d9a0b2dc3880731d302ad319](https://user-images.githubusercontent.com/9405706/179382196-2ccfc18f-3c95-4add-a938-0778d7fcf9d4.png)
Was going to work on this issue this weekend on my Windows PC but funnily enough, the issue doesn't happen. So I guess I'll do it next week when I have my work Mac.

Or it's just something that was fixed already and not released yet.

[2022-07-18 11:30] caroso-de opened #856 "POM-Editor (Lemminx based): Source/Comment-Options from legacy WTP based editor missing"
I hope this isn't a duplicate or hasn't been discussed earlier.

With the new lemminx-based editor, i sorely miss the line- and block editing options of the previous editor (Crtrl-Shift-C). Is this by design or will this feature be available again in the future?

Thanks!

[2022-07-18 11:32] mickaelistria commented on #856
Please install latest snapshots for TM4E which have it fixed.

[2022-07-18 11:32] #856 closed, assigned to nobody

[2022-07-18 12:05] caroso-de commented on #856
Thanks!

[2022-07-18 13:51] oboguev opened #857 "pom.xml editor marks "combine.self" as an error"
When pom.xml contains

[code]
M2E editor displays error message

`cvc-complex-type.3.2.2: Attribute 'combine.self' is not allowed to appear in element 'configuration'`

M2E POM schema definition needs to be updates with current Maven schema definition.

Versions:
Eclipse 2022-03
M2E - Maven Integration for Eclipse (includes Incubating components) 1.20.1.20220227-1319
M2E - POM Editor using LemMinX

[2022-07-19 10:29] #857 closed

[2022-07-19 10:33] akurtakov commented on #857
@oboguev It's best to report this to maven itself and ask them to publish new version of the xsd with such additions.

[2022-07-22 13:14] Kiiv commented on #437
Really miss that too ! Back to the legacy editor for now.

[2022-07-26 14:38] kjsmita6 commented on #854
Closed by #860.

[2022-07-26 14:38] #854 closed

[2022-07-27 00:32] Ravi201606 commented on #429
The comments are still not working with shortcut ctrl+shift+/ shortcut in pom editor.

[2022-07-27 09:29] jeacott1 opened #861 "vanilla install of eclipse 2022-06 m2e xml editor broken"
Hi all,
 so idk what is happening here.
 I upgraded from 2022-03 to 2022-06.
When I load a pom.xml, the maven editor opens, but the xml and Effective pom view look very different than previous versions.
the syntax highlighting etc looks like a normal xml editor instead of the usual pom editor.
none of the hover and show ${var} variable values works, and not even select Ctrl+I will indent - it just

[2022-07-27 11:56] mickaelistria commented on #861
All this is expected to work. Can you please check in your <workspace>/.metadata/.log file whether some related information is logged?

[2022-07-27 12:23] mickaelistria commented on #437
Upstream issue is https://github.com/eclipse/lemminx-maven/issues/238

[2022-07-28 00:44] jeacott1 commented on #861
@mickaelistria thanks for the response.
I've deleted my .eclipse and .p2 directories now too, and created a fresh workspace just to be sure.
that seems to have helped a little - the xml editor still looks wrong, and ctrl+i etc still doesnt work, but the variable hovers are back.

I do have errors in the log.

summary log
[code]

these errors seem related to this issue: https://github.com/eclipse/w

[2022-07-28 01:56] jeacott1 commented on #861
@mickaelistria
ok -So I have narrowed this down.
I made fresh installs of various versinos with fresh workspaces and cleared project files/settings etc - re-imported existing maven projects.
the last working version was eclipse-jee-2021-09-R-win32-x86_64.zip
the first version that ctrl+i,  ctrl+shift+/ etc stopped working was version eclipse-java-2021-12-R-win32-x86_64

I'm not sure when the edito

[2022-07-28 07:34] mickaelistria commented on #861
Do you use Dali/JPA ?

[2022-07-28 09:54] LorenzoBettini opened #862 "How do BND instructions work in the .target file?"
Hi
Maybe I'm doing something wrong but in the `.target` file I specified this entry (i.e., I removed the `wrapped.` prefix from `Bundle-SymbolicName`; I've used the Target editor to get this result):

[code]

so I would expect to find `org.pitest.pitest-command-line` in the "Target Platform State" after resolution. Instead I still get `wrapped.org.pitest.pitest-command-line`. I can live with that,

[2022-07-28 09:59] laeubi commented on #862
First, you might want to ask the project to add OSGi data in the first place, I'm currently preparing a template fo this, so you might want to help with that see https://github.com/laeubi/osgi-issue-templates/pull/3

And just to make sure, have you reloaded/set your target after the change and are you using the latest m2e release?

[2022-07-28 10:07] LorenzoBettini commented on #862
@laeubi thanks for the fast response!

OK, I'll let them know

I'm using the one that comes with Eclipse 2022-06:

[code]

[2022-07-28 10:31] LorenzoBettini commented on #862
I don't have the same view, so I guess it's not the latest and greatest version:

<img width="501" alt="Screenshot 2022-07-28 at 12 29 52" src="https://user-images.githubusercontent.com/1202254/181484667-77a5a3d7-4b26-4ef5-b9e9-1e8eaf0d441f.png">

However, as I said, I can live with wrapped names :)

[2022-07-28 10:32] laeubi commented on #862
You need to check "Show locations content" in the bottom of the target Locations Group!

[2022-07-28 10:37] laeubi opened #863 "Using BND instructions is broken with more than one artifact"
I just tried this out and it seems that the instruction is not propagated correctly to all childs but only some:
![image](https://user-images.githubusercontent.com/1331477/181481264-de2eed57-2ee1-4c6e-b349-2971f66478d9.png)
 this seems to be a bug in m2e.

_Originally posted by @laeubi in https://github.com/eclipse-m2e/m2e-core/issues/862#issuecomment-1197945555_

[2022-07-28 10:52] LorenzoBettini commented on #862
Ah OK!
Sorry I temporarily gave up on that: the workspace was so ruined that I used to have a mixture of wrapped and unwrapped... even stopping Eclipse and removing the pde.core directory in the workspace and reloading the TP didn't seem to help... I had a random mixture of wrapped and unwrapped... I decided to go for wrapped now, since at least that's reproducible (I had to remove the workspace e

[2022-07-28 14:18] laeubi commented on #863
It seems this do not occur anymore on 2.0

[2022-07-28 23:39] jeacott1 commented on #861
@mickaelistria  - I actually tried the jee and the plain java versions - both are broken - you'll notice above that its the eclipse-java version I mentioned that is dead (the jee version is too).
I do use JPA, although I rarely use the eclipse support.
My test project in my brand new test workspace was a vanilla architype generated project, no dependencies or support required for anything except m

[2022-08-02 07:12] glhez commented on #861
Hello,
I had a similar trouble with an Oomph based install of 2022-06 and m2e: there was no longer any Language Servers available in Preferences. Without them, you won't have anything: I had the hunch to visit Eclipse logs found somewhere in my installation: `%ECLIPSE_INSTALL_HOME%\configuration\*.log`

[code]

Some plugin is requiring Java 17 to work: I switched from Java 11 to Java 17 and the la

[2022-08-03 00:46] jeacott1 commented on #861
@glhez nice theory, but out of the box install includes and uses its own java 17 jre.
-vm
plugins/org.eclipse.justj.openjdk.hotspot.jre.full.win32.x86_64_17.0.3.v20220515-1416/jre/bin
-vmargs
-Dosgi.requiredJavaVersion=11

[2022-08-03 07:56] glhez commented on #861
@jeacott1 ok. Well, at least, if other get a similar problem this might help them.

[2022-08-04 09:10] Kummallinen commented on #862
I've found you need to remove the old artefacts from the local maven repo when changing the BND instructions, otherwise it still uses the old version.

[2022-08-04 12:30] LorenzoBettini commented on #862
I had the same feeling as well... however, that's far from ideal...

[2022-08-04 14:35] laeubi commented on #862
If any one can give steps to reproduce please let me know (or even better provide a PR to fix that)

[2022-08-04 15:36] LorenzoBettini commented on #862
I thought you had already reproduced the problem yourself and opened another issue

[2022-08-04 15:42] laeubi commented on #862
I tried with m2e 2.x and didn't see the issue there...

[2022-08-04 17:15] LorenzoBettini commented on #862
Then I guess you can close this

[2022-08-08 14:12] theit opened #867 "Project isn't converted to faceted form for war projects"
Eclipse IDE for Java Developers (includes Incubating components)
Version: 2022-09 M2 (4.25.0 M2)
Build id: 20220804-1257
m2e: 2.0.1.20220805-1816

Background:
I have a multi-module project consisting of several submodules. Two of them (let's call them A and B) are jar projects, everything is buildable fine via command line Maven. Module A basically is a REST API that starts an embedded Jetty serve

[2022-08-08 15:21] fbricon commented on #867
Eclipse IDE for Enterprise Java and Web Developers 2022-09 M2 (4.25.0 M2) works. It embeds m2e-core 1.20.1 and m2e-wtp 1.4.4

[2022-08-09 07:14] theit commented on #867
Indeed, this works (again), but comes with an older m2e-core and also an older embedded Maven (3.8.4 vs 3.8.6)...

[2022-08-09 07:58] theit commented on #867
I found a way to reproduce the behaviour:

Create a new empty project of type "General" and in the project a new file `pom.xml` having the following contents (no other files necessary):

[code]

Right-click on the project -> Configure -> Convert to Maven Project

With Eclipse IDE for Java Developers 2209-M2 (using m2e-core 2.0.1), the project is not converted to faceted form, i.e. seems to be a pl

[2022-08-09 08:20] theit commented on #867
@laeubi: As I mentioned initially I tried m2e-core 2.0.1 in combination with m2e-wtp 1.5.0, and this resulted in an error (DuplicateLifecycleMappingMetadataException).

By using the above sample project, converting it to a Maven project with Eclipse IDE for Java Developers having m2e-core 2.0.1.20220805-1816 and m2e-wtp 1.5.0.20220805-2025 installed, line 7 (the one with packaging=war) is marked w

[2022-08-09 08:27] laeubi commented on #867
1. You should get a Quick-Fix to choose what mapping to use
2. Both `m2e.jdt` and `m2e.wtp` seem to contain a mapping for the `war` packaging

I can't tell if `m2e.jdt` is "wrong" here or `m2e.wtp` should attach to the `m2e.jdt` type instead of providing a seperate one, nerveless `m2e.wtp` and `m2e.jdt` are recently updated to account for new API changes, and `m2e.wtp` was moved in this repository

[2022-08-09 08:47] theit commented on #867
Yes, this allows me to either ignore m2e-core or m2e-wtp integration <packaging>war</packaging> in Eclipse preferences:

Ignoring the m2e-wtp one results in the already mentioned behaviour, i.e. no facets/natures added. Ignoring the one from m2e-core, then m2e-wtp seems to add the facets and natures, but two different errors now appear in the problems view:

Description: null (org.apache.maven.plu

[2022-08-09 20:52] chicobento commented on #700
Intellij supports this feature: https://www.jetbrains.com/help/idea/running-tests.html
I do really miss this on eclipse/m2e to improve developer experience.

[2022-08-10 10:12] akurtakov commented on #555
@mickaelistria Technically, this one is solved now but if you have suggestion for a "clean" way to move highlight/completion to m2e itself let me know.

[2022-08-10 12:59] theit commented on #867
For the record: https://github.com/eclipse-m2e/m2e-wtp/issues/13

[2022-08-10 13:10] laeubi commented on #555
@akurtakov thanks for taking care of this!

[2022-08-14 21:16] gayanper commented on #605
With the tycho m2e plugin not released to support m2e 2.0, its not possible to import maven tycho projects such as eclipse plugins into Eclipse IDE

[2022-08-14 23:04] HannesWell commented on #605
The tycho-m2e connector is not necessary anymore. As of Tycho 2.7.4 all Tycho plug-ins have M2E lifecycle-mapping metadata embedded that tell M2E that their execution can be ignored. In the IDE Eclipse PDE does, what Tycho does during builds.
So even if you are using an older version of Tycho, you can simply ignore those missing connectors.

[2022-08-15 04:58] laeubi commented on #605
@HannesWell one thing I can think of that might be a problem (but haven't tested yet) is that if you have no `.project` file and import a pure `pom.xml` then might the PDE nature missing for such project?

[2022-08-15 05:28] gayanper commented on #605
Yes thats what I’m trying to do. The projects doesn’t have the .project and .classpath files. The tycho m2e extension actually have configurators to handle it.

[2022-08-17 06:52] HannesWell commented on #605
What packaging-type do you have specified in the pom of those projects? Is it `eclipse-plugin`?
Because unlike for example if you have packaging-type `bundle` in conjunction with Felix' `maven-bundle-plugin` or with the `bnd-maven-plugin` (don't have their packaging-type just in my mind), projects with type `eclipse-plugin` are driven by the Manifest.MF and therefore should have that present. Tych

[2022-08-18 21:08] kwin commented on #830
Isn't a simple annotation processor enough? I don't think it needs a full-blown Maven plugin for that. But in general a great proposal.

[2022-08-19 07:58] HannesWell commented on #830
Are you reffering to something like this?
- https://www.baeldung.com/java-annotation-processing-builder#5-using-the-google-auto-service-library
- https://www.baeldung.com/google-autoservice

I have not yet done something like this, but ist sounds very promissing. Is it correct that we then can implement the processor in the same Maven artifact like the annotations and everything is then Just picke

[2022-08-21 21:58] mickaelistria commented on #830
Is there already an annotation model existing for lifecycle mapping if we want to implement an annotation processor for those?

[2022-08-22 12:14] mickaelistria commented on #555
The .target editor is using the generic editor IIRC, so it should be possible to add the additional reconciler and completionProcessors as extensions to the generic editor attached to the .target content-type. The generic editor allows multiple "providers" for most features, so m2e can contribute the maven bits and the editor will take care of invoking it as well.

[2022-08-22 12:28] mickaelistria commented on #700
@chicobento would you be willing to contribute this feature to m2e?

[2022-08-22 12:47] brikikeks commented on #635
Version: 2022-06 (4.24.0)
Build id: 20220609-1112
    M2E - Maven Integration for Eclipse (includes Incubating components)	1.20.1.20220227-1319

The m2e don't generate correct org.eclipse.jdt.apt.core.prefs after "check out as maven project".

[2022-08-22 12:50] vogella opened #877 "Support exclusions in target files for PDE"
Currently the M2E / PDE integration does not support exclusions.

For example, you cannot exclude the slf4j-api dependencies from the dependencies of a library and include your own.

[code]

Expected: slf4j-api from qos.logback should NOT be included into the target platform.

Actual: slf4j-api from qos.logback  is included into the target platform

![image](https://user-images.githubusercontent.c

[2022-08-22 12:51] mickaelistria commented on #635
Please try m2e 2.0.0 from https://download.eclipse.org/technology/m2e/releases/latest/

[2022-08-22 13:26] chicobento commented on #700
hi @mickaelistria , I'd love to contribute with this feature but unfortunately I dont think I'll have time available in the near future. Will try if I find some.

[2022-08-22 14:36] laeubi commented on #877
You can select the dependency and press the "Exclude" button.

[2022-08-22 15:05] vogella commented on #877
Thanks @laeubi, would be nice to support here also the standard Maven exclusion. IIRC you and @HannesWell had the target to use as much Maven standards as possible. https://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html

[2022-08-22 16:55] laeubi commented on #877
Yes see https://github.com/eclipse-m2e/m2e-core/issues/286 but no one yet cared enough to implement this :-)

If this is crucial to someones business and likes to speed up the development in that area a [sponsoring](https://github.com/sponsors/laeubi?frequency=one-time) would allow me to assign more time-slots particular issue.

[2022-08-22 18:50] vogella commented on #877
Dup of #286

[2022-08-22 18:50] #877 closed

[2022-08-22 21:06] HannesWell commented on #830
Not that I now. In fact that's ist's Part of this proposal to create one.

[2022-08-23 11:48] brikikeks commented on #635
With m2e 2.0.0 it works fine. Thanks!

[2022-08-26 04:49] laeubi opened #879 "Quickfix to add a maven dependecy automatically to the target if a missing type is found"
Most people have a lot of stuff already in their local maven repository, and we can use this rich meta-data for the following purpose:

1. Index all artifacts and their classes
2. If a users uses a Type found in the local repository we could suggest to add the item to the target, reload the target platform, and add an appropriate import

[2022-08-26 13:21] jukzi opened #881 "Both 'org.eclipse.cbi.p2repo.p2.maven' and 'org.eclipse.m2e.model.edit' register a package for 'http://maven.apache.org/POM/4.0.0'"
That error message appears when starting an OOmphed eclipse workspace.
was already reported in
https://bugs.eclipse.org/bugs/show_bug.cgi?id=527256

[2022-08-26 13:42] mickaelistria commented on #881
There is no way m2e can work without registering this package, and I think the m2e model is better maintained (and at least as likely to be maintained because m2e is a more active project in term of users and maintainers).
So m2e cannot expect anything good by removing this model namespace.

[2022-08-26 13:42] #881 closed

[2022-08-26 19:03] ewillink commented on #881
m2e may well require it, but if the use is solely from an edit plugin, surely a programmatic (local) declaration is adequate. No need to inflict the conflicting global registration on everyone.

In the unlikely event that a global registration is necessary m2e and cbi should negotiate to determine a single common point of registration.

[2022-08-28 19:42] HannesWell commented on #879
In general a good proposal.

But creating and maintaining the index sounds like a very expensive operation and we don't get notified about all changes in the local maven repo.
Also the question is if that index is saved somewhere (potentially large) or recreated in memory everytime the IDE is started (potentially long running).

The good news is that [search.maven.org](https://search.maven.org/) a

[2022-08-30 06:41] zollum opened #885 "Can support m2e connector m2e-buildhelper like m2e-apt?"
after upgrade to eclipse 2022-09 with _M2E - Maven Integration for Eclipse 2.0.1.20220805-1816_

the m2e connector m2e-buildhelper is incompatible any more, for m2e has bumped it's version to 2.0.

m2e-buildhelper hasn't been maintained for a long time, so m2e can include m2e-buildhelper in source like apt?

Thanks.

details:

[code]

m2e-buildhelper installed from https://download.jboss.org/jboss

[2022-08-30 06:49] laeubi commented on #885
If it is open source just propose a patch and ask for a release. If not, you need to contact the software suppliers support team.

Depending on what m2e-buildhelper there might be alternatives, or if it is important enough and we get IP clearance might also be an option for m2e to adopt the connector. Still all this would require some help from the community.

[2022-08-30 07:19] zollum commented on #885
Thanks for your reply, i'll try to submit a patch, let me deep into eclipse plugin first.

[2022-08-30 07:19] #885 closed

[2022-08-30 15:03] klaus52 commented on #129
I can confirm that "--add-exports" is working for me, too.
"--add-modules", however, seems to be not working, yet.

[2022-08-31 16:56] salexe opened #886 "Source Look-up Path for the automatically launched (and attached) Remote-Application-Debugger cannot be saved and needs to be re-edited after every launch."
**When the user**
    Launches a maven plugin which launches a separate JVM process and waits for a debugger to connect to a port.
**Then**
    The `Remove Java Application` that is **automatically** launched and connects to the debugger's port uses some default configuration.
    That _default configuration_ also uses the **Default** _Source Look-up_.
    If one needs to add several projects to t

[2022-08-31 16:58] salexe commented on #886
A suggestion for a workaround to disable that automatic launch (so that I can launch the `Remote Java Application` that I have saved & edited in Eclipse as I need it) would be of great help until this issue is fixed.

[2022-08-31 17:39] guw opened #887 "Latest M2E release requires not-yet-released (4.25 RC1) Eclipse version"
We are using the M2E `/latest` update site for consuming M2E. With the *2.0.2* release this broke our whole installation process for a few thousand users because of:

[code]

It would be great if M2E can align with the Eclipse releases and **only release something** which depends on **released** artifacts. Today there is not chance to consume `org.eclipse.ui.console [3.11.300,4.0.0)` from any offi

[2022-08-31 17:44] laeubi commented on #887
You can always install / use an older version see:
https://download.eclipse.org/technology/m2e/releases/

beside that there are no "guarantees" at all, only best effort based  on contributions, so if you like to ensure backward compatibility feel free to contribute patches towards that goal.

[2022-08-31 17:51] guw commented on #887
@laeubi A release of an Eclipse project depending on non-release bits of another Eclipse project is not in alignment with the Eclipse Development and IP Process. I'll follow up on the M2E and PMC mailing list.

[2022-08-31 17:57] laeubi commented on #887
Well m2e do not strictly **depend** on something "not released", it only **requires** a higher version of the upcoming release, to enable features specific to the  2.0.2 release ...

@guw feel free to do so, writing that mail and waiting for a response will just most likely take **much more time** than simply using https://download.eclipse.org/technology/m2e/releases/2.0.1 what will fix your issue

[2022-08-31 18:50] mickaelistria commented on #887
While I support this discussion and understand the issue and possible workaround; I'm curious as to what can be a concrete resolution plan for this issue? Would you like `latest` to point to `2.0.1` until Platform 4.25 is released?

[2022-08-31 18:56] mickaelistria commented on #886
While I understand the underlying technical issue (the launch config is not reused between remote connections, a new one is created instead everytime), and possible remediation (eg store the launch config and pick it by default), I'm still unsure of how to trigger this issue.
Can you please provide detailed minimal steps to reproduce it from an empty workspace?

[2022-08-31 19:17] guw commented on #887
To be consistent with platform, I'd recommend something like `/I-builds` for integration builds and `/latests` really being something that aligns with `/SDK/latest` (which doesn't exist but that's sort of the idea).

[2022-08-31 19:39] HannesWell commented on #887
We have some sort of chicken-egg problem here, since we should not use snapshots in SimRel but wanted to provide support for the new colored console, that is not yet released. Alternativly we would have to wait for one full release cycle to make that available in SimRel.

It is a general question how to handle that best, with M2E's process (only releases and snapshots/I-builds). The current one is

[2022-08-31 20:25] HannesWell commented on #886
This happens for example if you debug the execution of a test and a code path in the test leads to code in another project in the workspace. This is indeed not yet ideal.

While I agree that the current situation should be improved, disabling the automatic launch seems not like a good idea to me. Because disabling the debugger auto-launch makes builds that wait for a debugger really cumbersome bec

[2022-09-01 04:38] laeubi commented on #886
Why not simply using a permanent debug configuration? Adding "all" projects might work in simple examples but can become cumbersome in large workspace (and might decrees performance) beside that it is always possible to add source locations that are not inside the same workspace, e.g. you have a source jar/zip/folder but not a eclipse project.

[2022-09-01 06:32] zollum commented on #885
after upgrade build-helper-maven-plugin to 3.3.0 with lifecycle-mapping-metadata.xml bounded, the connector not needed

[2022-09-01 06:34] laeubi commented on #885
@zollum thanks for the feedback, can we remove the connector from the catalog @fbricon ?

[2022-09-01 07:19] salexe commented on #886
In case it's needed, a little more info about how it happens on my environments.

**The project pom** (relevant portion)

	<plugin>
		<groupId>org.apache.tomee.maven</groupId>
		<artifactId>tomee-maven-plugin</artifactId>
		<version>${tomee.version}</version>
		<configuration>
			<tomeeVersion>${tomee.version}</tomeeVersion>
			<tomeeClassifier>plus</tomeeClassifier>
			<debugPort>5005</debugPort>

[2022-09-01 07:32] salexe commented on #886
I have those, they are not helping, the one that's automatically launched has it's own default config (I explained in the previous reply).

[2022-09-01 07:34] laeubi commented on #886
That's what I mean, instead of creating a *new one automatically* we better should change the code to not create a temporary one but either create or reuse a permanent one.

[2022-09-01 07:35] mickaelistria commented on #885
@zollum Thanks for sharing this happy end!

[2022-09-01 08:13] salexe commented on #886
Sorry @HannesWell , I'm not that familiar, neither with Eclipse Plugin Development in general, nor with particularities of m2e.

So I cannot provide a PR for this.

[2022-09-01 12:11] C4J commented on #887
I have to agree - I spent a lot of time trying to figure out what was wrong until I came across this forum post.

[2022-09-01 12:58] mickaelistria commented on #867
First issue (duplicated lifecycles) seems to be caused by https://github.com/eclipse-m2e/m2e-core/commit/8ed00a53d6dba5fb31e81765b73fbeea769fead4 (cc @HannesWell ): moving the `war` lifecycle mapping from `org.eclipse.m2e.lifecyclemapping.defaults` to `org.eclipse.m2e.jdt` causes that this lifecycle isn't assumed as being default (overridable) and conflicts later with m2e-wtp one instead of being

[2022-09-01 13:05] HannesWell commented on #887
To fix this issue now I will just replace the latest repo with the content of the 2.0.1 release repo.
We can then later think about streamlining the latest repo using a composite.

[2022-09-01 13:08] mickaelistria commented on #887
We'll need a new m2e ASAP shortly for #867, so don't bother too much right now as the content of latest repo is likely to be overridden later today.

[2022-09-01 13:17] HannesWell commented on #867
Good to know, I wasn't aware of that. Thanks for the investigation.

[2022-09-01 13:19] guw commented on #887
I won't have time to verify it today. But I am not blocked as I did use the workaround of pointing to an older repo. I'll re-enable `/latest` early next week.

[2022-09-01 13:19] mickaelistria commented on #887
That is the critical goal.

The promote script will do it anyway. Then we'll need to restore latest to 2.0.1; but I'd be fine doing nothing as well and sticking to latest being 2.0.3 for a few more days until it's not an issue.

[2022-09-01 13:25] HannesWell commented on #887
OK. You're welcome and thanks for bringing that to our intention.

That's right. You can just re-run the `batch infra stuff` job after the 2.0.3 release is done.
I think we should not again disturb our users again (btw. I'm also glad to know there is a great user base, although it was through bad circumstances). Once 4.25 is released I can just run `batch infra stuff` replacing latest with 2.0.3.

[2022-09-01 19:04] mickaelistria commented on #867
The part about m2e-core is resolved and will be released soon.
Further work is tracked on m2e-wtp issue.

[2022-09-01 19:04] #867 closed

[2022-09-06 21:21] HannesWell commented on #886
No problem.

I don't think that re-using the same debugger launch-config for all Maven launches is a good idea, because different builds can require different sources. And I think we should not create a new one for each build launch because that would effectively double the number of launch configs (at least for those builds that require a debugger).
Furthermore the port number of the debugger has

[2022-09-06 21:41] mickaelistria commented on #886
That's not what was proposed I believe. I understood (maybe overunderstood) that the proposal is that for a Maven launch "MyMavenLaunch", then a "MyMavenLaunch Remote Debug" remote debug configuration would be created, and reused whenever "MyMavenLaunch" is run.

Aren't we already supposed to have the source mappings properly defined by m2e on the classpath entries in those cases? Maybe the automa

[2022-09-06 22:18] HannesWell commented on #886
As far as I understood it @salexe did not requested a specific solution yet.
Nevertheless I would like to avoid the way the you described because this has to chance to create a lot of launch-config rubbish.

Yes, I think so as well. That was what I was referring to when mentioning the existing look ups that should be mixed (to not only support Maven dependencies). But I have not yet worked with So

[2022-09-07 04:04] laeubi commented on #886
This is how it works on various places (e.g. JUnit, Java, Products, ...) and why should they be "rubbish" in any way?

As mentioned above adding "all workspace" is not really what one want, and you might want to configure other things as well of a remote (e.g. allow termination.

But of course there is not really someone forcing us to use two **distinct** launch configs as described (e.g. "MyMaven

[2022-09-08 07:17] pzi-dsa commented on #743
I had a look at it again, and seems like the "other process" is indeed the Eclipse (or rather the Target Editor, to be more specific).
I tested a patch over the past few weeks, where I created a new file, whenever the bundled jar needs to be refreshed and since then, the problem never appeared again.

[2022-09-08 16:04] martinlippert opened #896 "apt preferences are broken on latest m2e release"
It looks like the latest m2e release contains a broken version of the apt ui bundle.

The problem is based on this commit:
https://github.com/eclipse-m2e/m2e-core/commit/8b876a6748d8858578ee5894c40a872affc0e052

It changed the return types of many methods. One of those methods is used here:
https://github.com/eclipse-m2e/m2e-core/blob/master/org.eclipse.m2e.apt.ui/src/org/eclipse/m2e/apt/ui/prefer

[2022-09-09 03:51] wsq93 opened #897 "Support maven-mvnd"
### Expected Behavior

maven-mvnd replaces maven

### Link

https://github.com/spring-projects/sts4/issues/835

https://github.com/apache/maven-mvnd

[2022-09-09 11:20] Markus-Elfring opened #898 "Support for adding the Maven builder to the project properties"
I took another look at the capabilities of the following software.

Eclipse IDE for Java Developers 2022-06 (4.24.0)
Maven Integration for Eclipse Core 1.20.1.20220227-1319

A Java project example can be opened.
The project properties can be inspected accordingly.
Thus the single entry “[Java Builder](https://help.eclipse.org/latest/index.jsp?topic=%2Forg.eclipse.jdt.doc.user%2FgettingStarted%2Fqs

[2022-09-09 11:27] mickaelistria commented on #898
As far as I understand, you'd like to configure a "Maven builder" on a project that would run a Maven command on each change, right?

As a workaround, you can configure the external "Program" builder to invoke `mvn`.

[2022-09-09 15:16] fbricon commented on #898
We already provide right-click on project > Configure > Convert to Maven Project.

[2022-09-09 15:29] kdvolder commented on #896
More detailed reproduction steps are in the ticket martin linked above. I am repeating them here for convenience:

- start with a clean / new workspace
- open Preferences
- Go to Maven >> Annotation Processing
- Change annotation processing mode from 'Do not ...' to 'Automatically ...'
- Click 'Apply And Close'
- Click 'Yes' on the popup that asks whether you want to rebuild projects after the cha

[2022-09-10 15:39] HannesWell commented on #887
I think we can close this issue now.
As soon as Eclipse 4.25 is released on Wednesday I will update the [m2e/releases/latest](https://download.eclipse.org/technology/m2e/releases/latest/) to be equal to [m2e/releases/2.0.4](https://download.eclipse.org/technology/m2e/releases/2.0.4/).

[2022-09-10 15:39] #887 closed

[2022-09-10 15:44] HannesWell commented on #897
Can you please elaborate more how you expect `mvnd` to work with M2E?
M2E already has a complete Maven-runtime embedded and builds the projects in the workspace of your IDE incrementally. I have not yet worked with mvnd but it looks like M2E already works very similar.

[2022-09-10 15:51] HannesWell commented on #896
I have reproduced this issue and your explanation totally makes sense. Tycho's p2-plugin even showed a warning about that, but since it is just a warning (and warnings from that plug-in are very common) this is was not noticed:
[code]

A simple enforced qualifier update will solve this.

[2022-09-10 17:25] HannesWell opened #900 "Many classes are licensed under EPL v1.0"
I just noticed that many classes in M2E have a License-header that states that they are licensed under EPL v1.0. When I search my M2E workspace for https://www.eclipse.org/legal/epl-v10.html I get 57 hits in *.java files.

Even new classes like `IMavenToolbox` claim to be licensed under EPL-1.

Until know I assumed M2E is entirely licensed under EPL-2 and the `LICENSE` document also states that.
N

[2022-09-11 19:39] #896 closed

[2022-09-11 20:30] HannesWell opened #902 "Run LemMinX-Maven LS in the same Java process?"
@mickaelistria you mentioned that it is possible to launch the Language-Server in the same Java process:
https://www.eclipse.org/lists/platform-dev/msg03696.html

I wonder if that would be beneficial for M2E as well? On my Windows-Computer M2E occasionally fails to connect to the LS-server or ends with time-out errors. I have not yet investigated that further, but could the connection become more

[2022-09-12 04:16] laeubi commented on #902
See
- https://github.com/eclipse/lemminx-maven/issues/295
- https://github.com/eclipse/lemminx-maven/issues/288

The lemminx Editor makes it really hard to edit pom files and copy+paste with shortcuts is simply unusable as it is completely random what part is copied/inserted ... So if we can improve this by runin it it inline that would be good, still I would expect that connecting to "localhost"

[2022-09-12 07:07] wsq93 commented on #897
First, Installations supports two constituencies, one is maven and the other is maven-mvnd. It can be considered that only one can be enabled.
![图片](https://user-images.githubusercontent.com/44887680/189590983-688041eb-6ec3-4966-93df-7632133e902e.png)

Second, this drop-down list supports choose them.
![图片](https://user-images.githubusercontent.com/44887680/189591985-47f10554-18d2-4269-959c-eb5c1d

[2022-09-12 07:15] wsq93 commented on #897
I have a project that takes 43S to build using the `mvn clean package` instruction, but 13S to build using the `mvnd clean package` instruction. However, it cannot be used in IDE.

[2022-09-12 07:22] mickaelistria commented on #897
I imagine m2e could allow path to binary (eg `mvnd`) additionally to path to folder in the Maven/Installations page. A contribution towards that would be welcome as a pull request!

[2022-09-12 07:33] wsq93 commented on #897
Sorry, I forgot that maven-mvnd has a configuration file directory. Although there is only one line of configuration in the file `conf/mvnd.properties`, It seems that the previous idea is not suitable.

Maybe it's better to create a menu item independently.

[2022-09-12 07:37] mickaelistria commented on #902
That's how we 1st tried this language-server integration story, but it had tons of drawbacks for very low functional value:
* First, LemMinX-Maven is an extension of LemMinX, so the deployment of LemMinX-Maven in Eclipse IDE has to be compatible with how LemMinX. LemMinX is currently embedded as a uber-jar
* By changing how we run/deploy language servers compared to vanilla deployment, then we div

[2022-09-12 07:42] laeubi commented on #902
You can embed an OSGi Framework inside a running one to get a (mostly) isolated environment, and such an uber-jar can actually be a OSGi bundle that has nothing more than an activator that starts the "main" and open the TCP port as if this where an own process. So I think all those drawbacks are more a matter of how one actually embeds the thing.

It would be good if I can enable some kind of logg

[2022-09-12 07:46] wsq93 commented on #897
Because maven has the same instructions as maven mvnd, I hope Maven will support the original ecology after upgrading. However, these are two projects.

And it is said that mvnd is not suitable for single module projects.

[2022-09-12 07:59] wsq93 commented on #897
The `mvnd` instruction can be executed in directory `${maven-mvnd}/bin`, and the `mvn` instruction can be executed in directory `${maven-mvnd}/mvn/bin`

[2022-09-12 08:17] laeubi commented on #897
Still m22 does not execute an "executable" or "command" but fire a JVM process with a classpath and a main class.

While the result looks the same, it is still a different topic.

[2022-09-12 08:45] wsq93 commented on #897
Just now I tried to run the `mvnd` command again in the terminal of the IDE, and this time it was executed successfully.

Maybe I could close this request.

[2022-09-12 09:17] HannesWell commented on #902
I regularly encounter similar issues.

I'm not familiar with the details but what Christoph suggested is similar to what I had in mind to, why not simply run the entire language server in the same VM? Maybe this gives better error messages and simplifies debugging?

In general the whole language server and Editor story is a bit fragment to me and I'm not sure I fully understand it.
We have
- [lsp4

[2022-09-12 09:29] HannesWell commented on #897
Just for clarification, @laeubi was reffering to the `External Tools` launching facility:
![grafik](https://user-images.githubusercontent.com/44067969/189619445-263566da-5425-48f8-9fac-c8ac65672723.png)

You could simply create a new Program that points to `mvnd` and specify the desired arguments. That should work already.

Alternatively we could consider to support mvnd as External Maven installa

[2022-09-12 10:32] laeubi opened #904 "Let m2e discover the build tree of a project from its projects"
Currently the view of m2e to a multi module project is simply flat... each project is handled as its own. When working with a mult-module build, there is actually some kind of tree structure of related projects that are likely to work together.

Because of this, it would be useful to have a function in m2e that takes a single project as its input and then traverse to the modules declared for them

[2022-09-12 10:41] laeubi opened #905 "Support continuous development"
Currently it is a bit like this:

1. I work on project
2. I change some file
3. I probably running unit tests

m2e already supports that certain mojos are executed "incrementally" and such a mojo can only run if for example a resource changes.

In a custom mojo of mine I used that for a code generator that generates a lot of files and this gives a really great fast developer  feedback as whenever

[2022-09-12 10:44] fbricon commented on #905
simply install https://infinitest.github.io/

[2022-09-12 10:50] laeubi commented on #905
Thanks for sharing this! I'll take a look and try that out to see if m2e might could to to improve integration with maven, it seems that this only works from the IDE so maven parts won't be taken into account according to this issue:
- https://github.com/infinitest/infinitest/issues/204

[2022-09-12 10:58] mickaelistria commented on #904
Does Import > Existing Maven projects already do that?

[2022-09-12 11:08] laeubi commented on #904
What specific part of the described story? :-)

If I use the wizard it shows the module mentioned projects to import, but each one is handled as an individual project, also after the import, I need to enable "hierarchic" project layout but then I get the layout of the file-system not the layout of the modules in the pom.

[2022-09-12 11:27] wsq93 commented on #897
OK,  I tried to configure it in `External Tools Configurations`, and it was executed successfully.  And this way takes only about 7S to complete.
I don't seem to have used this in my mind.
Thank you!

[2022-09-12 11:27] #897 closed

[2022-09-12 12:11] #900 closed

[2022-09-12 12:34] martinlippert commented on #896
Is there a chance to get a new release version of m2e out that includes this fix sometime soon?

[2022-09-12 13:15] mickaelistria commented on #896
Done. https://github.com/eclipse-m2e/m2e-core/releases/tag/2.0.5

[2022-09-12 13:32] martinlippert commented on #896
Awesome!!! Many many thanks!!!

[2022-09-12 18:26] HannesWell commented on #896
Please note that we keep [m2e/releases/latest](https://download.eclipse.org/technology/m2e/releases/latest) to be [m2e/releases/2.0.1](https://download.eclipse.org/technology/m2e/releases/2.0.1/) due to https://github.com/eclipse-m2e/m2e-core/issues/887 until Eclipse 4.25 is released on Wednesday.

In general you can also use M2E's snapshot repos that always contain the latest master-branch state.

[2022-09-12 18:32] HannesWell commented on #902
OK we then don't gain anything by running the server in the same VM.

Thank you for your elaboration and I will try to debug the issues if I encounter them the next time and can then hopefully provide some useful information.

[2022-09-13 08:26] glassfox opened #908 "An internal error occurred during: "Updating Maven Project""
After upgrade to eclipse 2022-09 thrown the following exception:

An internal error occurred during: "Updating Maven Project".
'org.eclipse.core.resources.IProject org.eclipse.m2e.core.project.configurator.ProjectConfigurationRequest.getProject()'

[2022-09-13 08:37] mickaelistria commented on #908
Can you please provide minimal steps to reproduce from a fresh workspace?

[2022-09-13 08:51] HannesWell opened #909 "Content-Assist in POM-Editor stuck in computing proposals"
Activating the Content Assist in a Plugin's configuration section in the POM-Editor is occasionally stuck (subjectively forever):

![grafik](https://user-images.githubusercontent.com/44067969/189856116-1a510efa-df45-4572-a10a-ded5e2c6e1c9.png)

I created two Thread Dumps (via VisualVM -> Threads ->Thread Dump, which is similar to what jstack does) a few minutes apart:
[ThreadDump1.txt](https://git

[2022-09-13 08:56] mickaelistria commented on #909
Thanks. Is this something you can deterministically reproduce? Or at least frequently enough with some particular steps to reproduce? Note that the open Maven projects in your workspace does affect LemMinX resolution, so the overall workspace has an influence too.

[2022-09-13 09:19] HannesWell commented on #909
At least at the moment even after a restart I can reproduce this in my M2E workspace, when I hit Ctrl+Space in the configuration of the `modello-maven-plugin` in the root pom.xml of M2E as displayed above.

It is provisioned by the M2E Oomph setup and contains respectively all M2E projects plus `org.eclipse.simrel.build`. The OS is Windows 10, `Eclipse Version: 2022-09 RC1 (4.25.0 RC1), Build id:

[2022-09-13 13:18] glassfox commented on #908
Workspace with many java projects.

Following log:
[code]

[2022-09-13 13:27] mickaelistria commented on #908
Seems very similar to https://github.com/eclipse-m2e/m2e-core/issues/896
Can you please try installing snapshots from https://download.eclipse.org/technology/m2e/snapshots/latest and report whether this fixes your issue?

[2022-09-13 14:07] glassfox commented on #908
not helped. same error

[2022-09-13 14:16] mickaelistria commented on #908
Sorry, I didn't notice. jbosstools variant of m2e-apt must be uninstalled. It's not compatible with newer m2e and the capability of the jbosstools-m2e-apt support were merged in directly m2e project so the extra feature is not necessary.

[2022-09-13 14:21] glassfox commented on #908
I have installed "m2e-apt 1.5.4"
I required it for code generation. Uninstall it ?

[2022-09-13 14:33] mickaelistria commented on #908
m2e-apt from m2e repo is ok; the one from jbosstools ( `org.jboss.tools.maven.apt` ) is not. The later must be removed.

[2022-09-13 14:35] glassfox commented on #908
jbosstools I do not have.

[2022-09-13 14:36] mickaelistria commented on #908
Your stack trace says you have.

[2022-09-13 14:40] glassfox commented on #908
Only if a part of "m2e-apt 1.5.4". Ill try to remove

[2022-09-13 14:49] mickaelistria commented on #908
Thanks.

[2022-09-13 14:49] #908 closed

[2022-09-14 05:35] arpit-107 opened #910 "Ctrl + Click is not working in pom.xml for eclipse 4.22+"
For eclipse 4.22 and above versions, in pom.xml, when ctrl + clicked on a dependency, it doesn't navigate to the source of that dependency. Till 4.21, it is working fine. Problem starts 4.22 onwards

[2022-09-14 08:08] arpit-107 commented on #910
These are the files and folders of various org.eclipse.m2e* from "InstallationDirectory\eclipse-jee-2021-12-R-win32-x86_64\eclipse\plugins"

org.eclipse.m2e.archetype.common_1.18.1.20211011-2139
org.eclipse.m2e.maven.indexer_1.18.1.20211011-2139
org.eclipse.m2e.maven.runtime.slf4j.simple_1.18.1.20211008-0657
org.eclipse.m2e.maven.runtime_1.18.1.20211011-2139
org.eclipse.m2e.sourcelookup_1.17.4.202